/**
 Styles for Fancybox
 */

.fancybox-content {
  border-radius: var(--border-radius-popup);
  background: var(--color-white);
  width: rem(320);
  padding: rem(20) !important;

  .title_popup {
    font: rem(20)/rem(28) Fregat-Bold, sans-serif;
    color: var(--color-marine);
    margin-bottom: rem(30);
    padding-right: rem(20);

    @include xs-block() {
      font-size: rem(16);
      line-height: rem(16);
    }

    @include md-block() {
      font-size: rem(20);
      line-height: rem(28);
    }
  }
}

.fancybox-close-small {
  width: rem(14) !important;
  height: rem(14) !important;
  top: rem(18) !important;
  right: rem(18) !important;
  padding: 0 !important;
  background: url('../img/svg/close-base.svg') center no-repeat !important;
  background-size: 100% !important;
  opacity: 1;

  svg {
    display: none !important;
  }
}