.catalog_table {
	display: flex;
	flex-wrap: wrap;

	.ct_brand {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: rem(40);
		flex-shrink: 0;
		color: var(--color-marine);

		@include xs(width, 100%);
		@include md-block() {
			width: auto;
			margin-right: rem(24);
		}
		@include lg(margin-right, rem(40));

		.ct_image {
			width: rem(51);
		}

		.text {
			margin: rem(10) 0 rem(20);
			font: rem(14)/rem(18) Fregat, sans-serif;
		}
	}

	.ct_table {
		flex: 1;

		@include xs(display, none);
		@include md(display, table);

		.clickable_row {
			cursor: pointer;
		}

		.noWrap {
			white-space: nowrap;
		}

		tr {
			border-top: 1px solid var(--color-cyan);
			transition: all .2s ease-in;

			&:hover {background: var(--color-extra-light-gray);}
		}

		thead > tr {
			border: none;

			&:hover {
				background: transparent;
			}
		}

		a {color: var(--color-black);}

		tr > th {
			padding: 0 rem(15) rem(15) rem(15);
			font: rem(14)/rem(14) Fregat-Bold, sans-serif;

			@include md-block() {
				white-space: inherit;
				text-align: center;
				padding-left: rem(10);
				padding-right: rem(10);
			}

			@include lg-block() {
				white-space: nowrap;
				text-align: left;
				padding-left: rem(15);
				padding-right: rem(15);
			}

			&:first-child {
				padding-left: rem(10);
			}
		}

		tr > td {
			font: rem(14)/rem(18) Fregat, sans-serif;
			vertical-align: top;

			&:first-child {
				padding-left: rem(10);
			}

			@include md-block() {
				padding: rem(10);
			}

			@include lg-block() {
				padding: rem(15);
			}
		}
	}

	// mobile table
	.ct_table_mobile {
		width: 100%;

		@include md(display, none);

		.ctm_item {
			display: block;
			width: 100%;
			padding: rem(20) 0;
			border-bottom: 1px solid var(--color-cyan);
			color: var(--color-black);

			&:first-of-type {
				padding-top: 0;
			}

			&:last-of-type {
				border: none;
			}

			.row {
				display: flex;
				align-items: baseline;
				justify-content: space-between;
				margin-bottom: rem(15);

				&:last-of-type {
					margin-bottom: 0;
				}

				&.last {
					flex-direction: column;

					.name {margin-bottom: rem(10);}
					.value {color: #6d6d6d;}
				}

				.name {
					font: rem(14)/rem(14) Fregat-Bold, sans-serif;
					margin-right: rem(15);
				}

				.value {
					font: rem(14)/rem(18) Fregat, sans-serif;
					text-align: right;
				}
			}
		}
	}
}