/*
	.without_full_border
	.with_border
	.cell_link_more
 */

.detail_catalog_table {
	flex: 1;

	@include lg-block() {
		margin-left: rem(40);
	}

	.icon {
		position: relative;
		display: inline-block;
		min-width: rem(12);
		min-height: rem(12);
		vertical-align: middle;

		&.icon_revert {
			margin-left: rem(5);
			background: url('../img/svg/catalogs/revert.svg') center no-repeat;
		}

		&.star-yellow {
			margin-left: rem(5);
			background: url('../img/svg/catalogs/star_yellow.svg') center no-repeat;
			cursor: pointer;
		}

		&.star-green {
			margin-left: rem(5);
			background: url('../img/svg/catalogs/star_green.svg') center no-repeat;
			cursor: pointer;
		}

		&.count_1_4 {
			margin-right: rem(15);
			background: url('../img/svg/catalogs/count_1_4.svg') center no-repeat;
		}

		&.count_2_4 {
			margin-right: rem(15);
			background: url('../img/svg/catalogs/count_2_4.svg') center no-repeat;
		}

		&.count_3_4 {
			margin-right: rem(15);
			background: url('../img/svg/catalogs/count_3_4.svg') center no-repeat;
		}

		&.count_4_4 {
			margin-right: rem(15);
			background: #299F34;
			border-radius: 50%;
		}
	}

	.dct_table {
		@include xs(display, none);
		@include md(display, block);

		tr {
			border-bottom: 1px solid var(--color-extra-light-gray);
			transition: all .2s ease-in;

			&:last-of-type {border: none;}

			&.__hide {
				transition: all .2s ease-in-out;
				display: none;
			}
		}

		a {color: var(--color-black);}

		tr > th {
			padding: 0 rem(15) rem(13) rem(10);
			font: rem(14)/rem(14) Fregat-Bold, sans-serif;
			text-align: left;
			border-bottom: 1px solid var(--color-extra-light-gray);

			&:first-child {
				padding-left: 0;
			}
		}

		tr > td {
			padding: rem(10);
			font: rem(14)/rem(18) Fregat, sans-serif;
			vertical-align: middle;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		.without_full_border {
			border: none;
		}

		.with_border {
			border-bottom: 1px solid var(--color-extra-light-gray);
		}

		.cell_link_more {
			text-align: right;

			td {
				@include lg(padding-right, (rem(12) !important));
			}

			.btn {
				text-decoration: underline;
				font: rem(12)/rem(12) 'Open Sans', sans-serif;
				color: var(--color-black);
				transition: all .2s ease-in;

				&:hover {
					text-decoration: none;
				}

				&.open {
					.icon {
						transform: rotate(180deg);
					}
				}

				.icon {
					margin-left: rem(10);
				}
			}
		}

		.detail_cell {
			.link {
				font: rem(16)/rem(40) Fregat-Bold, sans-serif;
				cursor: pointer;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}

			.sublink {
				margin-left: rem(30);
				font: rem(14)/rem(40) 'Open Sans', sans-serif;
				text-decoration: underline;
				cursor: pointer;

				&:hover {
					text-decoration: none;
				}
			}

			.cell_text {
				font: rem(12)/rem(18) 'Open Sans', sans-serif;
				color: #979797;
				padding-right: rem(20);
			}
		}

		.cell_delivery {
			text-align: center;
		}

		.cell_price {
			font: rem(24)/rem(24) Fregat-Bold, sans-serif;
			white-space: nowrap;

			@include md(font, (rem(20)/rem(20) Fregat-Bold, sans-serif));
			@include xl(font, (rem(24)/rem(24) Fregat-Bold, sans-serif));
		}

		.row_full {
			td {
				padding: rem(12) rem(10);
				font: rem(18)/rem(18) Fregat-Bold, sans-serif;
			}
		}

		.basket-btn {
			@include xs-block() {
				width: rem(46);
				padding: 0;

				.text {
					display: none;
				}

				.icon {
					display: flex;
					min-width: rem(20);
					min-height: rem(20);
				}
			}

			@include xl-block() {
				width: auto;
				padding: 0 rem(15);

				.text {
					display: block;
				}
			}
		}

		.availability {
			white-space: nowrap;
			padding: rem(5) rem(10);
			background: #299F34;
			color: var(--color-white);
			border-radius: var(--border-radius-big);
		}
	}

	&.mobile {
		display: flex;
		flex-direction: column;

		@include md(display, none);

		.dct_m_item {
			color: var(--color-black);

			h1 {
				font: rem(18)/rem(18) Fregat-Bold, sans-serif;
				padding-bottom: rem(20);
				border-bottom: 1px solid var(--color-extra-light-gray);
			}
		}

		.bold {font-weight: bold;}

		.dct_item_name {
			padding: rem(15) 0 0;

			.link {
				font: rem(16)/rem(30) Fregat-Bold, sans-serif;
				text-decoration: underline;
				color: var(--color-black);

				&:hover {
					text-decoration: none;
				}
			}

			.sublink {
				font: rem(16)/rem(30) 'Open Sans', sans-serif;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}

			.top_name {
				display: flex;
				justify-content: space-between;
			}

			.text {
				margin-top: rem(5);
				font: rem(12)/rem(18) 'Open Sans', sans-serif;
				color: #979797;
			}
		}

		.dct_item_shop {
			padding: rem(20) 0 rem(15);
			border-top: 1px solid var(--color-extra-light-gray);

			&.first {
				border: none;
			}

			&.__hidden {
				display: none;
			}

			.title {
				font: rem(16)/rem(16) Fregat, sans-serif;
			}

			.value {
				font: rem(14)/rem(14) 'Open Sans', sans-serif;
			}

			.title_price {
				font: rem(24)/rem(24) Fregat-Bold, sans-serif;
			}

			.item_warehouse {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: rem(15);
			}

			.item_count {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: rem(15);
			}

			.item_delivery {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: rem(20);
			}

			.item_bottom {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			.icon {
				&.count_1_4,
				&.count_2_4,
				&.count_3_4,
				&.count_4_4 {
					margin-left: rem(15);
					margin-right: 0;
				}
			}
		}

		.dct_show_more {
			display: flex;
			justify-content: center;
			margin-bottom: rem(30);

			.btn {
				text-decoration: underline;
				font: rem(12)/rem(12) 'Open Sans', sans-serif;
				color: var(--color-black);
				transition: all .2s ease-in;

				&.open {
					.icon {
						transform: rotate(180deg);
					}
				}

				.icon {
					margin-left: rem(10);
				}
			}
		}
	}
}