.catalog_marks {
	@include xs-block() {
		margin: rem(30) 0 rem(20);
		height: rem(780);
		align-content: space-between;
	}

	@include md-block() {
		margin: rem(30) 0 rem(60);
		height: rem(520);
	}

	@include lg-block() {
		margin: rem(40) 0 rem(160);
		align-content: inherit;
		height: rem(260);
	}

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	.cm_item {
		display: flex;
		margin-bottom: rem(20);

		.cm_main_symbol {
			font: rem(24)/rem(24) Fregat-Bold, sans-serif;
			margin-right: rem(20);
			width: rem(17);
		}

		.cm_inner_marks {
			font: rem(14)/rem(18) Fregat, sans-serif;

			a {
				display: block;
				color: var(--color-black);

				&.one {
					padding-top: rem(4);
				}
			}

			a:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
	}
}