/*
	Filters by issue - step 5
	*** modifiers ***
	.fbi          - filters by issue
 */

.mobile_show_filters {
	@include xs-block() {
		display: block;
		margin-bottom: rem(20);
	};

	@include md(margin-bottom, rem(30));
	@include lg(display, none);

	.btn {
		font-size: rem(14);
		line-height: rem(14);
		height: rem(36);
	}
}

.catalog_filters {
	@include xs(margin, 0 0 rem(20));
	@include xs(display, none);
	@include md(margin, 0 0 rem(30));
	@include lg(display, block);

	&.__open {
		display: block !important;
	}
}

.filters_by_issue {
	margin-top: rem(20);
	padding: rem(20);
	box-shadow: inset 0 0 0 1px var(--color-cyan);
	border-radius: var(--border-radius);
	width: calc(100% - 40px);

	@include lg(width, rem(270));

	h1 {
		font: rem(18)/rem(18) 'Fregat-Bold', sans-serif;
		margin-bottom: rem(20);
	}

	h2 {
		font: rem(14)/rem(14) "Fregat-Bold", sans-serif;
		color: var(--color-marine);
		margin-bottom: rem(5);
	}

	.checkbox-container {
		color: var(--color-black);
		margin: rem(15) 0;
	}

	.fbi_item {
		margin-bottom: rem(30);

		&.last {
			margin-bottom: rem(20);
		}
	}

	.fbi_input_counts {
		display: flex;
		align-items: center;
		justify-content: space-between;

		span {
			margin: 0 rem(7);
		}
	}

	.buttons {
		display: flex;
		justify-content: space-between;

		.btn {
			flex: 1;
			font-size: rem(14);
			line-height: rem(14);
			white-space: nowrap;
		}

		@include md-block() {
			justify-content: center;

			.btn {
				flex: 0;
			}
		}
	}

	.reset-filters {
		background: transparent;
		color: var(--color-base);

		&:hover {
			text-decoration: underline;
		}

		@include md-block() {
			margin-left: rem(10);
		}
	}
}