ul.cards_pagination
  li.disabled
    a(href='#' class='prev') Назад
  li.cp_number.active
    a(href='#') 1
  li.cp_number
    a(href='#') 2
  li.cp_number
    a(href='#') 3
  li.cp_number
    a(href='#') 4
  li.cp_number
    a(href='#') 5
  li
    a(href='#' class='next') Вперед


