div.cards_toggle_view
  div(data-view='big').ctv_item.js-toggle-view
    include ../../../img/svg/toggle-views/big.svg
  div(data-view='medium').ctv_item.__selected.js-toggle-view
    include ../../../img/svg/toggle-views/medium.svg
  div(data-view='small').ctv_item.js-toggle-view
    include ../../../img/svg/toggle-views/small.svg
