div.iat_row
  div.iar_date 26.06.2020
  div.iar_item
    div.iar_code 0034255
    div.value.__mobile 26.06.2020
  div.iar_item.iar_price
    div.mobile_title Расход:
    div.value 2 850 руб.
  div.iar_actions
    a(href='#' class='iar_link js-vr-create') Детализация
    button(class='btn link iar_link js-ia-print')
      span.text Печать
      span.icon_arrow
    include print-dropdown

