li.sbc_category.last
  a(href='/' class='sbc_tab') Инструменты
  ul.sbc_subcategory_list
    li.sbc_s_block
      p Масла7
      ul
        li.sublink
          a(href='/') Масла моторные
        li.sublink
          a(href='/') Масла трансмиссионные
        li.sublink
          a(href='/') Масла гидравлические
        li.sublink
          a(href='/') Масла промывочные
        li.sublink
          a(href='/') Масла индустриальные редукторные
    li.sbc_s_block
      p Присадки7
      ul
        li.sublink
          a(href='/') Присадки в масла
        li.sublink
          a(href='/') Присадки топливные
        li.sublink
          a(href='/') Присадки в систему охлаждения
    li.sbc_s_block
      p Жидкости7
      ul
        li.sublink
          a(href='/') Жидкости охлаждающие
        li.sublink
          a(href='/') Жидкости тормозные
        li.sublink
          a(href='/') Жидкости стеклоомывателя
        li.sublink
          a(href='/') Жидкости AdBlue
    li.sbc_brands
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/lukoil.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/gazprom.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/total.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/lukoil.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/gazprom.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/total.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/lukoil.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/gazprom.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/total.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/lukoil.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/gazprom.png' class='image')
      a(href='/' class='image-wrp')
        img(src='./img/header/categories/total.png' class='image')
