/* header style
  .__top      - top
  .__center   - center
  .__tags     - tags
 */

header {
	background: var(--color-white);
	transition: all .3s ease-in;

	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
		box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);

		.header__top,
		.header__tags_wrapper {
			display: none !important;
		}

		.header__center {
			padding: rem(15) 0;

			@include xs-block() {
				width: 90%;

				.search_block {
					display: none !important;
				}
			}

			@include md-block() {
				.search_block {
					display: flex !important;
				}

				.header_phone {
					display: none;
				}
			}

			@include lg-block() {
				width: 95%;

				.header_phone {
					display: block;
				}
			}
		}
	}

	.header__top {
		.select-region {
			display: inline-flex;
			align-items: center;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

			.icon {
				margin-right: rem(10);
			}
		}

		.header_links {
			a:not(:last-child) {
				margin-right: rem(40);
			}
		}
	}

	.header__center {
		.header_logo {
			margin-right: rem(40);
			height: rem(54);
		}

		.btn_burger {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: rem(46);
			height: rem(46);
			flex-shrink: 0;
			margin-right: rem(20);
			border-radius: var(--border-radius);
			background: var(--color-base);
			transition: all .2s ease-in-out;
			cursor: pointer;

			&:hover {
				background: var(--color-white);
				box-shadow: inset 0 0 0 2px var(--color-base);

				.burger_line {
					background: var(--color-base);
				}
			}

			&.open {
				.burger_line._1 {
					transform: translate(0px, 4px) rotate(45deg);
				}

				.burger_line._2 {
					display: none;
				}

				.burger_line._3 {
					transform: translate(0px, -4px) rotate(-45deg);
				}
			}

			.burger_line {
				position: relative;
				width: rem(22);
				height: rem(3);
				background: var(--color-white);
				background-size: rem(14);
				border-radius: var(--border-radius-big);
				transition: transform 0.2s ease-out;
				transform-origin: center center;

				&:not(:last-child) {
					margin-bottom: rem(5);
				}

				&._2 {
					width: rem(14);
					margin-left: rem(-8);
				}
			}
		}

		.search_block {
			position: relative;
			flex: 1;
		}

		.search-input {
			padding: rem(12) rem(103) rem(12) rem(20);
			height: 46px;
			border: solid rem(2) var(--color-base);
		}

		.search-btn {
			width: auto;
			position: absolute;
			right: 0;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}

		.header_phone {
			color: var(--color-marine);
			margin: 0 rem(24);

			.title_bc {
				color: var(--color-marine);
			}

			.text_normal {
				cursor: pointer;
				margin-top: rem(4);

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.header_actions {
			display: flex;

			.login-btn {
				margin-right: rem(8);
			}

			.basket-btn {
				font-size: rem(13);
				text-align: left;
			}
		}

		@include xs-block() {
			.header_phone {
				display: none;
			}

			.header_logo {
				height: rem(34);
				max-width: rem(140);
				margin-right: 0;
			}

			.btn_burger {
				display: none;

				&.mobile {
					display: flex;
					background: white;
					width: rem(22);
					height: auto;
					margin-right: 0;

					&:hover {
						box-shadow: none;
					}

					.burger_line {
						background: var(--color-base);
					}
				}
			}

			.search_block {
				margin-top: rem(15);
				width: 100%;
				flex: auto;
				flex-grow: 1;
			}

			.search-input {
				padding-right: rem(58);
			}

			.search-btn {
				font-size: 0;
				background: url('../img/svg/header/search-dark.svg') center no-repeat;
				background-size: 20px;

				&:hover {
					background-color: transparent;
					box-shadow: none;
				}
			}

			.login-btn {
				display: none;
			}

			.basket-btn {
				border: none;
				height: auto;
			}
		}

		@include sm-block() {
			.basket-btn {
				border: 2px solid var(--button-transparent-border-color);
				height: 46px;
			}

			.header_logo {
				height: rem(54);
				max-width: rem(226);
			}

			.btn_burger {
				display: flex;

				&.mobile {
					display: none;
				}
			}

			.login-btn {
				display: block;
			}

			.search-input {
				padding-right: rem(103);
			}

			.search-btn {
				font-size: inherit;
				background: var(--color-base);

				&:hover {
					box-shadow: inset 0 0 0 2px var(--button-success-hover-border-color);
				}
			}
		}

		@include md-block() {
			.search_block {
				order: 4;
			}

			.header_phone {
				display: block;
			}

			.header_logo {
				margin-right: 0;
			}
		}

		@include xl-block() {
			.header_logo {
				order: 1;
				margin-right: rem(40);
			}

			.header_actions {
				order: 4;
			}

			.header_phone {
				order: 3;
			}

			.search_block {
				order: 2;
				width: auto;
				flex: 1;
				margin-top: 0;
			}
		}
	}

	.header__tags_wrapper {
		position: relative;
		margin-top: rem(15);
		margin-bottom: rem(15);

		&.without-navigation {
			.slick-prev,
			.slick-next {
				opacity: 0;
				pointer-events: none;
			}

			.slick-cloned:nth-of-type(1) {
				display: none;
			}

			.header__tags_wp {
				&::before {
					display: none !important;
				}

				&::after {
					right: rem(56);
				}
			}
		}

		.header__tags_wp {
			position: relative;

			&::before, &::after {
				content: '';
				position: absolute;
				left: rem(-15);
				top: 0;
				width: rem(97);
				height: rem(94);
				background: linear-gradient(270deg, rgba(255, 255, 255, 0.95) 32.81%, rgba(255, 255, 255, 0) 100%);
				z-index: 1;
			}

			@include xs-block() {
				&::before,
				.slick-prev {
					display: none !important;
				}

				&::after {
					right: 0;
				}
			}

			@include md-block() {
				&::before,
				.slick-prev {
					display: inline-block !important;
				}

				&::after {
					right: rem(40);
				}
			}

			&::before {
				transform: matrix(-1, 0, 0, 1, 0, 0);
			}

			&::after {
				left: auto;
				width: rem(87);
				z-index: 0;
			}
		}

		.load-more-btn {
			position: absolute;
			right: 0;
			width: auto;
			top: 26%;
			z-index: 1;

			&:hover {
				background-color: var(--color-white);
			}
		}

		.header__tags {
			overflow: hidden;
			margin-left: -15px;

			.slick-list {
				padding-left: 15px;
			}

			.slick-prev {
				left: 15px;
			}

			.slick-slide {
				margin: rem(25) rem(10) rem(40) 0;

				@include xs-block() {
					margin: rem(20) rem(10) rem(20) 0;
				}

				@include sm-block() {
					margin: rem(25) rem(10) rem(30) 0;
				}
			}

			.tag {
				display: flex;
				align-items: center;
				justify-content: center;
				white-space: nowrap;
				padding: rem(16) rem(20);
				background: var(--color-white);
				border-radius: var(--border-radius);
				box-shadow: var(--box-shadow);
				box-sizing: border-box;
				transition: box-shadow .3s;

				&:hover {
					text-decoration: none;
					box-shadow: var(--box-shadow-darker);
				}
			}
		}

		@include md-block() {
			margin-top: 0;
		}

		@include xl-block() {
			margin-top: rem(15);
		}
	}

	@include xs-block() {
		.header__top {
			padding-top: rem(10);
			padding-bottom: rem(10);
		}

		.header_links {
			display: none;
		}

		.login-mobile-link {
			display: block;
		}

		.create-link {
			display: none;
		}

		.header__tags_wrapper {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	@include md-block() {
		.header__top {
			padding-top: rem(15);
			padding-bottom: rem(15);
		}

		.header_links {
			display: flex;
		}

		.login-mobile-link {
			display: none;
		}

		.create-link {
			display: block;
		}
	}

	@include lg-block() {
		.header__top {
			padding-top: rem(20);
			padding-bottom: rem(20);
		}
	}
}

// todo - remove
.test_container {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
