/* header style
  .__top      - top
  .__center   - center
  .__tags     - tags
 */

body {
	&.__hidden {
		overflow: hidden;
		width: 100%;
		height: 100%;
		pointer-events: none;
		position: fixed;

		// ios fix dropdown search
		.home_sliders_wrapper,
		.page_center_wrapper,
		.bread-crumbs,
		.basket_wrapper,
		.catalog_cards_car,
		.detail_page_info,
		.lamp_catalog_wrapper,
		.engine_oils_wrapper,
		.passenger_tires_wrapper,
		.contacts_wrapper,
		.personal_account {
			visibility: hidden;
		}

		header,
		.footer_toolbar,
		.fancybox-content,
		.menu_catalogs_wrapper  {
			pointer-events: auto;
		}
	}
}

header {
	background: var(--color-white);
	transition: all .3s ease-in;

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);

		.header__top,
		.header__tags_wrapper {
			display: none !important;
		}

		.header__center {
			padding: rem(9) 0;

			@include xs-block() {
				width: 90%;

				.header_logo,
				.btn_burger.mobile,
				.header_actions {
					display: none !important;
				}

				.search_block {
					margin-top: 0;
				}
			}

			@include md-block() {
				.header_phone {
					display: none;
				}
			}

			@include lg-block() {
				width: 95%;

				.header_logo,
				.header_actions {
					display: block !important;
				}

				.header_phone {
					display: block;
				}
			}
		}
	}

	.header__top {
		.select-region {
			display: inline-flex;
			align-items: center;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

			.icon {
				width: rem(19);
				height: rem(24);
				margin-right: rem(10);
			}
		}

		.header_links {
			a:not(:last-child) {
				margin-right: rem(40);
			}
		}
	}

	.header__center {
		.header_logo {
			margin-right: rem(40);
			height: rem(54);
		}

		.btn_burger {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: rem(46);
			height: rem(46);
			flex-shrink: 0;
			margin-right: rem(20);
			border-radius: var(--border-radius);
			background: var(--color-base);
			transition: all .2s ease-in-out;
			cursor: pointer;

			&:hover {
				background: var(--color-white);
				box-shadow: inset 0 0 0 2px var(--color-base);

				.burger_line {
					background: var(--color-base);
				}
			}

			&.open {
				&:hover {
					background: var(--color-base);

					.burger_line {
						background: var(--color-white);
					}
				}

				.burger_line._1 {
					transform: translate(0px, 4px) rotate(45deg);
				}

				.burger_line._2 {
					display: none;
				}

				.burger_line._3 {
					transform: translate(0px, -4px) rotate(-45deg);
				}
			}

			.burger_line {
				position: relative;
				width: rem(22);
				height: rem(3);
				background: var(--color-white);
				background-size: rem(14);
				border-radius: var(--border-radius-big);
				transition: transform 0.2s ease-out;
				transform-origin: center center;

				&:not(:last-of-type) {
					margin-bottom: rem(5);
				}

				&._2 {
					width: rem(14);
					margin-left: rem(-8);
				}
			}
		}

		.search_block {
			position: relative;
			flex: 1;
			align-items: center;
		}

		.search-input_wrapper {
			position: relative;
			width: 100%;
			background: var(--color-white);
			border-radius: var(--border-radius-popup);
			transition: box-shadow .2s ease-in-out;

			@include xs(padding, 0);
			@include md(padding, rem(10));

			.reset-btn {
				display: none;
			}

			&.with-dropdown {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;

				@include xs-block() {
					box-shadow: none;
				}

				@include md-block() {
					box-shadow: var(--box-shadow-search-dropdown);

					.reset-btn {
						display: block;
						position: absolute;
						top: rem(10);
						right: rem(93);
						background: transparent;

						svg {
							width: rem(12);
							height: rem(12);
						}
					}
				}

				.search-btn {
					@include xs-block() {
						font-size: 0;
						background: url('../img/svg/close-base.svg') center no-repeat;
						background-size: 14px;

						&:hover {
							background-color: transparent;
							box-shadow: none;
						}
					}

					@include md-block() {
						font-size: inherit;
						background: var(--color-base);

						&:hover {
							box-shadow: inset 0 0 0 2px var(--button-success-hover-border-color);
						}
					}
				}
			}
		}

		.search-input {
			padding: rem(12) rem(103) rem(12) rem(20);
			line-height: rem(46);
			height: 46px;
			border: solid rem(2) var(--color-base);
		}

		.search-btn {
			width: auto;
			position: absolute;
			right: rem(10);
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			transition: none;
		}

		.header_phone {
			color: var(--color-marine);
			margin: 0 rem(24);

			.title_p {
				color: var(--color-marine);
			}

			.text_normal {
				cursor: pointer;
				margin-top: rem(4);

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.header_actions {
			display: flex;

			.login-btn {
				margin-right: rem(8);
			}

			.basket-btn {
				font-size: rem(13);
				text-align: left;

				@include xs-block() {
					border: none;
					height: auto;
					padding: 0;

					&.__not-empty {
						.text {
							display: none;
						}

						.counter {
							width: rem(18);
							height: rem(18);
							font-size: rem(10);
						}
					}
				}

				@include md-block() {
					padding: 0 rem(20);
					border: 2px solid var(--button-transparent-border-color);
					height: 46px;

					&.__not-empty {
						.text {
							display: block;
						}

						.counter {
							width: rem(22);
							height: rem(22);
							font-size: rem(14);
						}
					}
				}

				&.__not-empty {
					position: relative;

					.text {
						display: flex;
						flex-direction: column;
					}

					.counter {
						position: absolute;
						right: rem(-8);
						top: rem(-8);
						display: flex;
						align-items: center;
						justify-content: center;
						color: var(--color-white);
						background: var(--color-red);
						border: 2px solid var(--color-white);
						border-radius: var(--border-radius-circle);
					}

					h1 {
						font-family: Fregat, sans-serif;
					}
				}
			}
		}

		@include xs-block() {
			.header_phone {
				display: none;
			}

			.header_logo {
				height: rem(34);
				max-width: rem(140);
				margin-right: 0;
			}

			.btn_burger {
				display: none;

				&.mobile {
					display: flex;
					background: transparent;
					width: rem(22);
					height: rem(19);
					margin-right: 0;

					&:hover {
						background: transparent;
						box-shadow: none;

						.burger_line {
							background: var(--color-base);
						}
					}

					.burger_line {
						background: var(--color-base);
					}
				}
			}

			.search_block {
				margin-top: rem(15);
				width: 100%;
				flex: auto;
				flex-grow: 1;
			}

			.search-input {
				padding-right: rem(58);
			}

			.search-btn {
				font-size: 0;
				background: url('../img/svg/header/search-dark.svg') center no-repeat;
				background-size: 20px;
				right: rem(10);

				&:hover {
					background-color: transparent;
					box-shadow: none;
				}
			}

			.login-btn {
				display: none;
			}
		}

		@include sm-block() {
			.header_logo {
				height: rem(54);
				max-width: rem(226);
			}

			.btn_burger {
				display: flex;

				&.mobile {
					display: none;
				}
			}

			.login-btn {
				display: inline-flex;
				width: rem(83);

				&:hover {
					&.iconButton {
						.icon._arrow path {
							fill: transparent;
							stroke: var(--button-transparent-hover-color);
						}
					}
				}

				.icon {
					min-width: rem(23);
					min-height: rem(23);

					&._arrow {
						margin-left: rem(13);
					}
				}
			}

			.search-input {
				padding-right: rem(103);
			}

			.search-btn {
				font-size: inherit;
				background: var(--color-base);
				right: 0;

				&:hover {
					box-shadow: inset 0 0 0 2px var(--button-success-hover-border-color);
				}
			}
		}

		@include md-block() {
			.search_block {
				order: 4;
			}

			.header_phone {
				display: block;
			}

			.header_logo {
				margin-right: 0;
			}

			.search-btn {
				right: rem(10);
			}
		}

		@include xl-block() {
			.header_logo {
				order: 1;
				margin-right: rem(40);
			}

			.header_actions {
				order: 4;
			}

			.header_phone {
				order: 3;
			}

			.search_block {
				order: 2;
				width: auto;
				flex: 1;
				margin-top: 0;
			}
		}
	}

	.header__tags_wrapper {
		position: relative;
		margin-top: rem(15);
		margin-bottom: rem(15);

		&.without-navigation {
			.slick-prev,
			.slick-next {
				opacity: 0;
				pointer-events: none;
			}

			.slick-cloned:nth-of-type(1) {
				display: none;
			}

			.header__tags_wp {
				&::before {
					display: none !important;
				}

				&::after {
					right: rem(56);
				}
			}
		}

		.header__tags_wp {
			position: relative;

			&::before, &::after {
				content: '';
				position: absolute;
				left: rem(-15);
				top: 0;
				width: rem(97);
				height: rem(94);
				background: linear-gradient(270deg, rgba(255, 255, 255, 0.95) 32.81%, rgba(255, 255, 255, 0) 100%);
				z-index: 1;
			}

			@include xs-block() {
				&::before,
				.slick-prev {
					display: none !important;
				}

				&::after {
					right: 0;
				}
			}

			@include md-block() {
				&::before,
				.slick-prev {
					display: inline-block !important;
				}

				&::after {
					right: rem(40);
				}
			}

			&::before {
				transform: matrix(-1, 0, 0, 1, 0, 0);
			}

			&::after {
				left: auto;
				width: rem(87);
				z-index: 0;
			}
		}

		.load-more-btn {
			position: absolute;
			right: 0;
			width: auto;
			top: 26%;
			z-index: 1;

			&:hover {
				background-color: var(--color-white);
			}
		}

		.header__tags {
			overflow: hidden;
			margin-left: -15px;

			.slick-list {
				padding-left: 15px;
			}

			.slick-prev {
				left: 15px;
			}

			.slick-slide {
				margin: rem(25) rem(10) rem(40) 0;

				@include xs-block() {
					margin: rem(20) rem(10) rem(20) 0;
				}

				@include sm-block() {
					margin: rem(25) rem(10) rem(30) 0;
				}
			}

			.tag {
				display: flex;
				align-items: center;
				justify-content: center;
				white-space: nowrap;
				padding: rem(16) rem(20);
				background: var(--color-white);
				border-radius: var(--border-radius);
				box-shadow: var(--box-shadow);
				box-sizing: border-box;
				transition: box-shadow .3s;

				&:hover {
					text-decoration: none;
					box-shadow: var(--box-shadow-darker);
				}
			}
		}

		@include md-block() {
			margin-top: 0;
		}

		@include xl-block() {
			margin-top: rem(15);
		}
	}

	@include xs-block() {
		.header__top {
			padding-top: rem(10);
			padding-bottom: rem(10);
		}

		.header_links {
			display: none;
		}

		.login-mobile-link {
			display: block;
		}

		.create-link {
			display: none;
		}

		.login-mobile-link,
		.create-link {
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		.header__tags_wrapper {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	@include md-block() {
		.header__top {
			padding-top: rem(15);
			padding-bottom: rem(15);
		}

		.header_links {
			display: flex;
		}

		.login-mobile-link {
			display: none;
		}

		.create-link {
			display: block;
		}
	}

	@include lg-block() {
		.header__top {
			padding-top: rem(20);
			padding-bottom: rem(10);
		}
	}

	// search dropdown
	.sb_dropdown {
		position: absolute;
		left: 0;
		display: flex;
		flex-direction: column;
		padding: rem(5) rem(10) rem(15);
		pointer-events: auto;

		width: 100%;
		height: auto;
		opacity: 1;
		background: var(--color-white);
		box-shadow: 0 14px 24px -14px rgba(0, 0, 0, 0.25);
		border-radius: var(--border-radius-popup);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		box-sizing: border-box;
		z-index: 2;
		transition: border 0s, opacity 0.2s linear, height 0.2s linear;

		&.hidden {
			visibility: hidden;
			opacity: 0;
			height: 0;
		}

		@include xs-block() {
			box-shadow: none;
			margin-left: -20px;
			width: calc(100% + 40px);
			height: 89vh;
			padding-bottom: rem(130);
			overflow: scroll;
		}

		@include md-block() {
			box-shadow: 0 14px 24px -14px rgba(0, 0, 0, 0.25);
			margin-left: 0;
			width: 100%;
			height: auto;
			overflow: auto;
			max-height: rem(606);
			padding-bottom: rem(15);
		}

		.mCSB_draggerContainer {
			right: rem(-15) !important;
		}

		.mCSB_container {
			margin-right: 0 !important;
		}

		.mCSB_dragger_bar {
			background-color: rgba(0, 0, 0, 0.4) !important;
		}

		.mCSB_draggerRail {
			background: transparent !important;
		}

		.sbd_item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: rem(15);
			font: rem(12)/rem(18) "Open Sans", sans-serif;
			color: var(--color-black);

			&:not(:last-of-type) {
				border-bottom: 1px solid #dbdbdb;
				padding-bottom: rem(15);
			}

			.image {
				flex-shrink: 0;
				width: rem(60);
				height: rem(60);
				margin-right: rem(15);
				background-color: #EAEFF8;
				background-image: url('../img/header/search-drp/default-image.svg');
				background-position: center;
				background-repeat: no-repeat;
				border-radius: var(--border-radius-small);

				img {
					width: rem(60);
					height: rem(60);
					object-fit: contain;
					background: var(--color-white);
					box-shadow: inset 0 0 0 1px #dbdbdb;
					border-radius: var(--border-radius-small);
				}

				@include xs-block() {
					width: rem(50);
					height: rem(50);

					img {
						width: rem(50);
						height: rem(50);
					}
				}

				@include md-block() {
					width: rem(60);
					height: rem(60);

					img {
						width: rem(60);
						height: rem(60);
					}
				}
			}

			.content {
				.title {
					margin-bottom: rem(5);
				}

				.text {
					color: #7E7E7E;
				}
			}

			.arrow-link {
				margin: 0 rem(10);
			}
		}
	}

	// category dropdown
	.sbc_dropdown {
		position: absolute;
		top: rem(66);
		left: 0;
		padding: rem(5);
		width: rem(875);
		height: auto;

		display: flex;
		flex-direction: column;
		color: var(--color-black);
		background: var(--color-white);
		border-radius: var(--border-radius-popup);
		opacity: 1;
		z-index: 2;
		box-sizing: border-box;
		transition: border 0s, opacity 0.2s linear, height 0.2s linear;

		&.hidden {
			visibility: hidden;
			opacity: 0;
			height: 0;
		}

		@include md-block() {
			box-shadow: var(--box-shadow-search-dropdown);
			margin-left: 0;
			width: rem(705);
			height: auto;
			min-height: rem(548);
			overflow: auto;
		}

		@include lg-block() {
			width: rem(875);
		}

		.sbc_category {
			padding: rem(15);
			display: block;
			font: rem(16)/rem(24) "Fregat-Bold", sans-serif;

			&.last,
			&.show {
				.sbc_tab {
					&::after {
						display: none;
					}
				}
			}

			.sbc_tab {
				position: relative;
				color: var(--color-black);

				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: rem(-20);
					width: rem(199);
					height: rem(1);
					background: var(--color-extra-light-gray);
				}

				&:hover {
					text-decoration: none;
				}
			}

			&.show {
				background: var(--color-extra-light-gray);
				border-top-left-radius: var(--border-radius);
				border-bottom-left-radius: var(--border-radius);

				.sbc_subcategory_list {
					display: flex;
				}
			}
		}

		.sbc_subcategory_list {
			display: none;
			position:absolute;
			top: 0;
			left: rem(239);
			flex-direction: column;
			width: calc(100% - 308px);
			height: calc(100% - 50px);
			padding: rem(25) rem(30) rem(25) rem(37);
			background: var(--color-white);
			border-left: 2px solid var(--color-extra-light-gray);
			cursor: default;

			a {
				color: var(--color-black);
			}

			.sbc_s_block {
				margin-bottom: rem(30);

				p {
					margin-bottom: rem(10);
				}
			}

			.sublink {
				font: rem(14)/rem(28) "Open Sans", sans-serif;
			}

			.sbc_brands {
				position: absolute;
				right: rem(30);
				top: rem(30);
				display: flex;
				flex-direction: column;
				align-items: center;
				width: rem(90);
				height: calc(100% - 60px);
				max-height: 100%;

				.image-wrp {
					display: flex;
					height: rem(40);
					margin-bottom: rem(15);

					img {
						object-fit: contain;
					}

					&:last-child {
						margin-bottom: 0;
					}

					&:nth-child(n + 11) {
						display: none;
					}
				}
			}
		}
	}
}

.page {
	width: 100%;
	z-index: 1;
	transition: all .3s;
	background: var(--color-white);
}

// mobile menu
#page {
	display: flex;
}

#mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #f2f2f2;
	width: rem(269);
	min-width: rem(269);
	height: 100vh;
	color: var(--color-marine);
	visibility: hidden;
	transition: all .3s;

	&.show {
		visibility: visible;
	}

	@include xs(display, block);
	@include md(display, none);

	.mm_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: rem(30);
		height: calc(100% - 60px);
	}

	.mm_links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: rem(13);

		a {
			width: 100%;
			color: var(--color-marine);
			padding: rem(17) 0;

			&:not(:last-child) {
				border-bottom: 1px solid #D8DBE1;
			}
		}
	}

	.catalog-button {
		display: flex;
		justify-content: space-between;
		width: rem(200);
		padding: rem(13) rem(15);

		.text {
			display: block;
		}

		.icon {
			margin-right: rem(15);

			&.arrow {
				transform: rotate(180deg);
				margin-right: 0;
			}
		}
	}

	.mm_social {
		.social_icons {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding-bottom: rem(30);
			border-bottom: 1px solid #D8DBE1;

			.icon_button {
				border: none;
				box-shadow: none;
			}

			.icon:hover {
				svg path {
					fill: var(--color-base);
				}

				&.instagram {
				  background: url('../img/svg/social-icons/instagram-h.svg') center no-repeat;

				  svg {display: none;}
				}
			}
		}

		.phone {
			display: flex;
			flex-direction: column;
			padding: rem(20) 0;
		}

		.phone_title {
			font: rem(24)/rem(24) Fregat-Bold, sans-serif;
			color: var(--color-marine);
			margin-bottom: rem(4);
		}

		.phone_text {
			font: rem(14)/rem(14) Fregat, sans-serif;
		}
	}
}
