header
  div.header__top.container.dFlex.justifyContentBetween.alignItemsCenter
    div(data-src='#change-region-popup' class='dark_link select-region fancybox')
      span.icon
        include ../../../img/svg/header/location.svg
      span Москва
    div.header_links
      a(href='/' class='dark_link') О компании
      a(href='/' class='dark_link') Контакты
      a(href='/' class='dark_link') Доставка
      a(href='/' class='dark_link') Оплата
    div(class='dark_link create-link fancybox' data-src='#sign-up-popup') Создать аккаунт
    div(class='dark_link login-mobile-link fancybox' data-src='#sign-in-popup') Войти в аккаунт
  div.header__center.container.dFlex.flexWrap.justifyContentBetween.alignItemsCenter
    div.btn_burger.mobile
      span.burger_line._1
      span.burger_line._2
      span.burger_line._3
    a(href='./home.html' class='header_logo')
      img.logo(src="./img/svg/logo.svg")
    div.header_phone
      a(href='tel:8 800 550 5354' class='title_p') 8 800 550 5354
      h2(class='text_normal fancybox' data-src='#order-callback-popup') Заказать звонок
    div.header_actions
      button(type='button' class='btn transparent iconButton login-btn js-open-menu-dropdown')
        span.icon
          include ../../../img/svg/header/user-login-dark.svg
        span.icon._arrow
          include ../../../img/svg/arrow-dark.svg
      include ../../components/header/basket_btn/basket
      include ../../components/header/lc_menu_dropdown
    div.search_block.dFlex
      div.btn_burger.desktop
        span.burger_line._1
        span.burger_line._2
        span.burger_line._3
        include ../../components/header/category_dropdown
      div.search-input_wrapper
        input(type='text' class='input search-input js-header-search' placeholder='VIN, frame или номер детали')
        button(type='button' class='btn success search-btn js-search-btn') Найти
        button(type='button' class='btn iconButton reset-btn js-reset-search')
          include ../../../img/svg/header/reset-search.svg
        include ../../components/header/search_dropdown
  include ../../components/header/tags
  include ../../components/popups/sign_up
  include ../../components/popups/sign_in
  include ../../components/popups/order_callback
  include ../../components/popups/change_region
  include ../../components/popups/request_vin_code
  include ../../components/popups/basket_popup

