.detail_graphic {
	@include xs(width, calc(100% - 20px));
	@include md(width, rem(680));

	.dg_content {
		width: 100%;
		height: rem(300);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(40);

		.dg_good_content {
			position: relative;

			svg {
				width: 100%;
			}

			.good_text {
				position: absolute;
				right: rem(20);
				top: 60%;
			}
		}

		.dg_bad_content {
			position: absolute;
			left: 0;
			top: 0;

			.bad_text {
				position: absolute;
				left: rem(25);
				top: 35%;
			}

			svg {
				width: 100%;
			}
		}

		span {
			font: rem(14)/rem(14) "Open Sans", sans-serif;
			font-weight: bold;
			color: var(--color-white);
		}
	}

	.dg_help_info {
		display: flex;
		font: rem(16)/rem(16) "Fregat", sans-serif;

		@include xs-block() {
			font-size: rem(14);
			line-height: rem(14);
		}

		@include md-block() {
			font-size: rem(16);
			line-height: rem(16);
		}

		.info_bag, .info_good {
			display: flex;
			align-items: center;
		}

		.info_bag {
			@include xs(margin-right, rem(20));
			@include md(margin-right, rem(50));
		}

		.value {
			margin-right: rem(5);
		}

		.square {
			border-radius: rem(3);

			@include xs-block() {
				width: rem(25);
				height: rem(25);
				margin-right: rem(10);
			}

			@include md-block() {
				width: rem(30);
				height: rem(30);
				margin-right: rem(20);
			}

			&.__bad {
				background: var(--color-danger);
			}

			&.__good {
				background: var(--color-base);
			}
		}
	}
}
