.order_callback_popup {
	@include xs(width, calc(100% - 20px));
	@include md(width, rem(320));

	.input-container {
		margin-bottom: rem(10);
	}

	.btn {
		margin-bottom: rem(30);
	}

	.text {
		font: rem(14)/rem(20) "Fregat", sans-serif;
		color: #838181;
	}

	a {
		color: #838181;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
