.sign_up_popup {
	@include xs(width, calc(100% - 20px));
	@include md(width, rem(320));

	.input-container:not(:first-child) {
		margin-top: rem(20);
	}

	.checkbox-wrapper {
		margin: rem(20) 0;

		.checkbox-container:not(:first-child) {
			margin-top: rem(10);
		}
	}
}
