// product categories
.categories_wrapper {
    &.__collapsed {
        @include xs-block() {
            .home_product_categories {
                border-bottom: 1px solid #e5e9f1;
                margin-bottom: 0;
            }

            .products, .home_feedback_form {
                display: none;
            }
        }

        @include md-block() {
            .home_product_categories {
                border: none;
            }

            .products {
                display: grid;
                margin-bottom: rem(30);
            }

            .home_feedback_form {
                display: flex;
            }

            .hpc_header {
                margin-bottom: rem(25);
            }
        }

        @include lg-block() {
            .products {
                margin-bottom: rem(50);
            }
        }
    }
}

.home_product_categories {
    @include xs(margin-bottom, rem(30));
    @include md(margin-bottom, rem(40));
    @include lg(margin-bottom, rem(50));

    .hpc_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: rem(15) 0;
    }

    .title {

        @include xs(font, (rem(20)/rem(20) Fregat-Bold, sans-serif));
        @include md(font, (rem(24)/rem(24) Fregat-Bold, sans-serif));
        margin: 0;
    }

    .icon {
        transition: transform .3s;

        &.rotate {
            transform: rotate(180deg);
        }
    }

    .products {
        display: grid;
        gap: 20px 20px;

        .card_name {
            @include xs(font, (rem(16)/rem(20) Fregat-Bold, sans-serif));
            @include md(font, (rem(17)/rem(24) Fregat-Bold, sans-serif));
        }

        .card {

            @include xs-block() {
                padding: rem(15);
            }

            @include md-block() {
                padding: rem(20);
            }
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            transition: all .2s ease-in;
            border-radius: var(--border-radius-popup);
            cursor: pointer;

            .card_name {
                align-self: flex-start;
            }
        }

        .btn {

            @include xs(font-size, rem(14));
            height: rem(34);
        }

        &.creme {
            .card {
                background: #fceeca;

                &:hover {
                    box-shadow: 0 10px 15px 0 #dbc69096;
                }
            }
        }

        &.peach {
            .card {
                background: #f9ead9;

                &:hover {
                    box-shadow: 0 10px 15px 0 #dbc4ab96;
                }
            }
        }

        &.green {
            .card {
                background: #d4ebd3;

                &:hover {
                    box-shadow: 0 10px 15px 0 #adccac;
                }
            }
        }

        &.gray {
            .card {
                background: #eef1f6;

                &:hover {
                    box-shadow: 0 10px 15px 0 #bdc6d4a3;
                }
            }
        }

        // ТОПчик
        &.top {
            @include xs-block() {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: rem(200) repeat(2, rem(150)) rem(252) rem(150);
            }

            @include md-block() {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, rem(200));
            }

            @include lg-block() {
                grid-template-columns: 1.65fr repeat(3, 1fr) 1.65fr;
                grid-template-rows: repeat(2, rem(200));
            }
        }

        .oil {

            @include xs-block() {
                grid-area: 1 / 1 / 1 / 1;
            }

            @include lg-block() {
                grid-area: 1 / 1 / 3 / 2;
            }
            .image {
                @include xs(max-width, rem(75));
                @include md(max-width, rem(87));
                @include lg(max-width, rem(221));
            }
        }

        .brake_discs {
            grid-area: 1 / 2 / 2 / 3;

            .image {
                @include xs(max-height, rem(100));
                @include md(max-height, rem(145));
            }
        }

        .spark_plug {
            grid-area: 2 / 2 / 3 / 3;

            .image {
                @include xs(max-height, rem(90));
                @include xs(position, relative);
                @include md(max-height, rem(158));
                @include md(position, absolute);
            }
        }

        .transmission_oil {

            @include xs-block() {
                flex-direction: row;
                grid-area: 3 / 1 / 3 / 3;
            }

            @include md-block() {
                flex-direction: column;
                grid-area: 1 / 3 / 3 / 3;
            }

            @include lg-block() {
                flex-direction: row;
                grid-area: 1 / 3 / 2 / 5;
            }
            .image {
                @include xs(max-height, rem(118));
                @include md(max-height, rem(232));
                @include lg(max-height, rem(160));
            }
        }

        .pads {

            @include xs-block() {
                grid-area: 2 / 1 / 3 / 2;
            }

            @include md-block() {
                grid-area: 2 / 1 / 2 / 2;
            }

            @include lg-block() {
                grid-area: 2 / 3 / 3 / 4;
            }
            .image {
                @include xs(max-height, rem(83));
                @include md(max-height, rem(122));
            }
        }

        .filters {

            @include xs-block() {
                flex-direction: column;
                grid-area: 4 / 1 / 5 / 3;

                .image {
                    max-height: rem(119);
                }

                .buttons {
                    align-self: stretch;
                    grid-gap: rem(10);
                    margin-left: 0;
                    grid-template-columns: 1fr 1fr;
                }
            }

            @include md-block() {
                flex-direction: row;
                grid-area: 3 / 1 / 3 / 3;

                .buttons {
                    align-self: flex-end;
                    grid-gap: rem(15);
                    margin-left: rem(29);
                }
            }

            @include lg-block() {
                grid-area: 2 / 4 / 3 / 6;
            }
            flex-direction: row;
            align-items: flex-end;

            .card_name {
                position: absolute;
            }

            .buttons {
                display: grid;
                grid-template-rows: repeat(2, rem(34));
            }
        }

        .wiper_blades {

            @include xs-block() {
                grid-area: 5 / 1 / 6 / 3;
            }

            @include md-block() {
                grid-area: 3 / 3 / 3 / 3;
            }

            @include lg-block() {
                grid-area: 1 / 5 / 2 / 6;
            }
            .image {
                @include xs(max-height, rem(75));
                @include md(max-height, rem(95));
            }
        }

        // oils
        &.oils {
            @include xs-block() {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, rem(170)) rem(244);
            }

            @include md-block() {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, rem(200));
            }

            @include lg-block() {
                grid-template-columns: 1fr 0.45fr repeat(3, 1fr) 1.65fr;
                grid-template-rows: repeat(2, rem(200));
            }

            .image {
                @include xs(max-height, rem(100));
                @include md(max-height, rem(126));
            }

            .toyota {

                @include xs-block() {
                    flex-direction: column;
                    grid-area: 1 / 1 / 1 / 1;
                }

                @include lg-block() {
                    flex-direction: row;
                    align-items: flex-end;
                    grid-area: 1 / 1 / 2 / 3;
                }
                .image {
                    @include xs(margin-right, 0);
                    @include lg(max-height, rem(160));
                    @include lg(margin-right, rem(50));
                }
            }

            .nissan {
                @include xs-block() {
                    grid-area: 1 / 2 / 1 / 2;
                }

                @include md-block() {
                    grid-area: 1 / 2 / 1 / 3;
                }

                @include lg-block() {
                    grid-area: 1 / 3 / 2 / 4;
                }
            }

            .shell {
                @include xs-block() {
                    grid-area: 2 / 1 / 3 / 2;
                }

                @include md-block() {
                    grid-area: 1 / 3 / 2 / 4;
                }

                @include lg-block() {
                    grid-area: 1 / 4 / 2 / 5;
                }
            }

            .mobil {
                @include xs-block() {
                    grid-area: 4 / 1 / 5 / 2;
                }

                @include md-block() {
                    grid-area: 3 / 1 / 4 / 2;
                }

                @include lg-block() {
                    grid-area: 1 / 5 / 2 / 6;
                }
            }

            .vag {
                @include xs-block() {
                    grid-area: 2 / 2 / 3 / 3;
                }

                @include md-block() {
                    grid-area: 2 / 1 / 3 / 2;
                }

                @include lg-block() {
                    grid-area: 2 / 1 / 3 / 2;
                }
            }

            .costrol {
                @include xs-block() {
                    flex-direction: column;
                    grid-area: 3 / 1 / 4 / 2;
                }

                @include md-block() {
                    grid-area: 2 / 2 / 3 / 3;
                }

                @include lg-block() {
                    flex-direction: row;
                    align-items: flex-end;
                    grid-area: 2 / 2 / 3 / 4;

                    .image {
                        max-height: rem(160);
                        margin-right: rem(20);
                    }
                }
            }

            .hyndai {
                @include xs-block() {
                    grid-area: 3 / 2 / 4 / 3;
                }

                @include md-block() {
                    grid-area: 2 / 3 / 3 / 4;
                }

                @include lg-block() {
                    grid-area: 2 / 4 / 3 / 5;
                }
            }

            .total {
                @include xs-block() {
                    grid-area: 4 / 2 / 5 / 3;
                }

                @include md-block() {
                    grid-area: 4 / 1 / 5 / 2;
                }

                @include lg-block() {
                    grid-area: 2 / 5 / 3 / 6;
                }
            }

            .oil_viscosity {

                @include xs-block() {
                    grid-area: 5 / 1 / 6 / 3;

                    .buttons {
                        grid-gap: rem(8);
                        width: 100%;
                        grid-template-columns: repeat(4, 1fr);

                        .btn {
                            width: rem(56);

                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }

                @include md-block() {
                    grid-area: 3 / 2 / 5 / 4;

                    .buttons {
                        grid-gap: rem(20);
                        grid-template-columns: repeat(5, 1fr);

                        .btn {
                            width: auto;
                        }

                        .btn:last-child {
                            display: block;
                        }
                    }
                }

                @include lg-block() {
                    grid-area: 1 / 6 / 3 / 7;

                    .buttons {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
                .image {
                    @include xs(max-height, rem(120));
                    @include md(max-height, rem(269));
                    @include lg(max-height, rem(218));
                }

                .buttons {
                    display: grid;

                    .btn {
                        padding: rem(10) rem(15);
                    }
                }
            }
        }

        // auto chemicals
        &.auto_chemicals {
            @include xs-block() {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, rem(170));
            }

            @include md-block() {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, rem(200));
            }

            @include lg-block() {
                grid-template-columns: 1.65fr repeat(3, 1fr) 1.65fr;
                grid-template-rows: repeat(2, rem(200));
            }

            .image {
                @include xs(max-height, rem(100));
                @include md(max-height, rem(126));
            }

            .antifreeze {

                @include xs-block() {
                    grid-area: 1 / 1 / 2 / 2;
                }

                @include md-block() {
                    grid-area: 1 / 1 / 3 / 2;
                }
                .image {
                    @include xs(max-height, rem(104));
                    @include md(max-height, rem(240));
                    @include lg(max-height, rem(296));
                }
            }

            .trans_oil {

                @include xs-block() {
                    flex-direction: column;
                    grid-area: 1 / 2 / 2 / 3;

                    .card_name {
                        white-space: normal;
                        word-break: break-all;
                    }

                    .images {
                        justify-content: center;
                    }

                    .image {
                        max-height: rem(66);
                    }

                    .one {
                        max-height: rem(42);
                        margin-right: rem(3);
                    }
                }

                @include md-block() {
                    .card_name {
                        white-space: nowrap;
                    }

                    .images {
                        .image {
                            max-height: rem(118);
                        }

                        .one {
                            margin-right: rem(6);
                            max-height: rem(75);
                        }
                    }
                }

                @include lg-block() {
                    flex-direction: row;
                    grid-area: 1 / 2 / 2 / 4;

                    .images {
                        justify-content: flex-end;

                        .image {
                            max-height: rem(160);
                        }

                        .one {
                            margin-right: rem(9);
                            max-height: rem(109);
                        }
                    }
                }
                .images {
                    display: flex;
                    align-items: flex-end;
                    width: 100%;
                }
            }

            .oil {
                @include xs-block() {
                    grid-area: 2 / 1 / 3 / 2;

                    .image {
                        max-height: rem(83);
                    }
                }

                @include md-block() {
                    grid-area: 1 / 3 / 2 / 4;

                    .image {
                        max-height: rem(126);
                    }
                }

                @include lg-block() {
                    grid-area: 2 / 2 / 3 / 3;
                }
            }

            .lubricants {
                @include xs-block() {
                    grid-area: 2 / 2 / 3 / 3;
                }

                @include md-block() {
                    grid-area: 2 / 2 / 3 / 3;
                }

                @include lg-block() {
                    grid-area: 2 / 3 / 3 / 4;
                }
            }

            .sealants {

            }

            .brake_fluids {
                @include xs-block() {
                    flex-direction: column;

                    .image {
                        max-height: rem(90);
                    }
                }

                @include md-block() {
                    .image {
                        margin-right: 0;
                        max-height: rem(126);
                    }
                }

                @include lg-block() {
                    flex-direction: row;

                    .image {
                        margin-right: rem(50);
                        max-height: rem(160);
                    }
                }
            }

            .additives {
            }

            .adhesives {
                @include md-block() {
                    flex-direction: column;

                    .image {
                        margin-right: 0;
                    }
                }

                @include lg-block() {
                    flex-direction: row;

                    .image {
                        margin-right: rem(30);
                        max-height: rem(160);
                    }
                }
            }
        }

        // engine parts
        &.engine_parts {
            @include xs-block() {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, rem(170));
            }

            @include md-block() {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, rem(200));
            }

            @include lg-block() {
                grid-template-columns: 1.55fr 1fr 1fr 1.55fr 1fr;
                grid-template-rows: repeat(3, rem(200));
            }

            .image {
                @include xs(max-height, rem(100));
                @include md(max-height, rem(126));
                @include lg(max-height, rem(160));
            }

            .timing_belt_kit {

                @include xs-block() {
                    .image {
                        max-height: rem(67);
                    }
                }

                @include md-block() {
                    .image {
                        max-height: rem(120);
                    }
                }

                @include lg-block() {
                    flex-direction: row;

                    .card_name {
                        margin-right: rem(180);
                    }

                    .image {
                        position: absolute;
                        top: rem(44);
                        right: rem(25);
                    }
                }
                position: relative;
            }

            .cooling_fan {
                @include xs-block() {
                    grid-area: 1 / 2 / 2 / 3;

                    .image {
                        max-height: rem(56);
                    }
                }

                @include md-block() {
                    flex-direction: row;
                    grid-area: 1 / 2 / 2 / 4;

                    .image {
                        max-height: rem(150);
                    }
                }
            }

            .cooling_radiator {
                @include xs-block() {
                    grid-area: 2 / 1 / 3 / 2;

                    .image {
                        max-height: rem(82);
                    }
                }

                @include md-block() {
                    .image {
                        max-height: rem(134);
                    }
                }


                @include lg-block() {
                    flex-direction: row;

                    .image {
                        max-height: rem(160);
                    }
                }
            }

            .thermostat {

                @include xs-block() {
                    grid-area: 2 / 2 / 3 / 3;

                    .image {
                        max-height: rem(110);
                    }
                }

                @include md-block() {
                    .image {
                        max-height: rem(160);
                    }
                }

                @include lg-block() {
                    grid-area: 2 / 2 / 4 / 3;

                    .image {
                        position: absolute;
                        bottom: rem(80);
                        left: 0;
                        max-height: rem(200);
                    }
                }
                position: relative;
            }

            .water_pump {

                @include xs-block() {
                    grid-area: 3 / 2 / 4 / 3;

                    .image {
                        max-height: rem(67);
                    }
                }

                @include md-block() {
                    flex-direction: column;
                    grid-area: 3 / 1 / 4 / 2;

                    .image {
                        max-height: rem(123);
                    }
                }

                @include lg-block() {
                    .card_name {
                        margin-right: rem(148);
                    }

                    .image {
                        position: absolute;
                        top: rem(30);
                        right: rem(30);
                        max-height: rem(140);
                    }
                }
                position: relative;
            }

            .generator {

                @include xs-block() {
                    grid-area: 3 / 1 / 4 / 2;
                }

                @include md-block() {
                    grid-area: 2 / 3 / 3 / 4;

                    .image {
                        max-height: rem(160);
                    }
                }

                @include lg-block() {
                    grid-area: 2 / 3 / 4 / 4;

                    .image {
                        position: absolute;
                        bottom: rem(80);
                        left: 0;
                        max-height: rem(200);
                    }
                }
                position: relative;
            }

            .t_b_tensioner_roller {

                @include xs-block() {
                    grid-area: 4 / 1 / 5 / 2;
                }


                @include md-block() {
                    flex-direction: row;
                    grid-area: 3 / 2 / 4 / 4;

                    .image {
                        max-height: rem(200);
                    }
                }

                @include lg-block() {
                    grid-area: 1 / 4 / 3 / 5;

                    .image {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        max-height: max-content;
                    }
                }
                position: relative;
            }

            .workaround_roller {
                @include xs-block() {
                    grid-area: 4 / 2 / 5 / 3;

                    .image {
                        max-height: rem(75);
                    }
                }

                @include md-block() {
                    grid-area: 4 / 1 / 5 / 2;

                    .image {
                        max-height: rem(125);
                    }
                }

                @include lg-block() {
                    flex-direction: row;
                    grid-area: 3 / 4 / 4 / 5;

                    .card_name {
                        margin-right: rem(30);
                    }

                    .image {
                        max-height: rem(160);
                    }
                }
            }

            .timing_belt {
                @include xs-block() {
                    grid-area: 5 / 1 / 6 / 2;
                }

                @include md-block() {
                    grid-area: 4 / 2 / 5 / 3;
                }

                @include lg-block() {
                    grid-area: 1 / 5 / 2 / 6;
                }
            }

            .timing_belt_tensioner {
                @include xs-block() {
                    grid-area: 5 / 2 / 6 / 3;
                }

                @include md-block() {
                    grid-area: 4 / 3 / 5 / 4;
                }

                @include lg-block() {
                    grid-area: 2 / 5 / 4 / 6;

                    .image {
                        position: absolute;
                        bottom: rem(80);
                        left: 0;
                        max-height: rem(200);
                    }
                }
            }
        }
    }
}
