div.form-content-step2.flexColumn.alignItemsCenter
  div.input-container
    label(for='sup-n-surname' class='label-input') Фамилия
    input(id="sup-n-surname" type='text' name="sup-n-surname" class='input' placeholder='Введите фамилию')
  div.input-container
    label(for='sup-n-username' class='label-input') Имя
    input(id="sup-n-username" type='text' name="sup-n-username" class='input' placeholder='Введите имя')
  div.input-container
    label(for='sup-n-middle-name' class='label-input') Отчество
    input(id="sup-n-middle-name" type='text' name="sup-n-middle-name" class='input' placeholder='Введите отчество')
  div.input-container
    label(for='sup-n-phone-number' class='label-input') Номер телефона
    input(id="sup-n-phone-number" type='text' name="sup-n-phone-number" class='input' placeholder='Введите номер телефона')
  div.buttons.dFlex
    button(type='button' class='btn transparent prev-btn js-reg-prev-step') Назад
    button(type='button' class='btn success js-reg-next-step') Далее