div.form-content-step3.flexColumn.alignItemsCenter
  div.input-container
    label(for='sup-n-index' class='label-input') Индекс
    input(id="sup-n-index" type='text' name="sup-n-index" class='input' placeholder='Введите индекс')
  div.input-container
    label(for='sup-n-country' class='label-input') Страна
    input(id="sup-n-country" type='text' name="sup-n-country" class='input' placeholder='Введите страну')
  div.input-container
    label(for='sup-n-region' class='label-input') Регион
    input(id="sup-n-region" type='text' name="sup-n-region" class='input' placeholder='Введите регион')
  div.input-container
    label(for='sup-n-city' class='label-input') Город
    input(id="sup-n-city" type='text' name="sup-n-city" class='input' placeholder='Введите город')
  button(type='submit' class='btn success') Зарегистрироваться