/**
 * Styles src icons
 */

.iconButton {
  .icon {
    &._arrow {
      background-image: url('./img/svg/arrow-dark.svg');
      margin-right: 0 !important;
      min-width: 14px;
    }
  }

  &:hover {
    .icon {
      &._arrow {
        background-image: url('./img/svg/arrow-white.svg');
      }
    }
  }
}




