div.card_info
  div.ci_item
    div.name Артикул
    div.value MZ00613190L
  div.ci_item
    div.name Производитель
    div.value BODYPARTS
  div.ci_item
    div.name Оригинальный номер
    div.value GHR450C21A
  div.ci_item
    div.name Год
    div.value 13-
