div.form-content-step4.flexColumn.alignItemsCenter
  div.input-container
    label(for='sup-l-index' class='label-input') Индекс
    input(id="sup-l-index" type='text' name="sup-l-index" class='input' placeholder='Введите индекс')
  div.input-container
    label(for='sup-l-region' class='label-input') Регион
    input(id="sup-l-region" type='text' name="sup-l-region" class='input' placeholder='Введите регион')
  div.input-container
    label(for='sup-l-city' class='label-input') Город
    input(id="sup-l-city" type='text' name="sup-l-city" class='input' placeholder='Введите город')
  div.input-container
    label(for='sup-l-street' class='label-input') Улица
    input(id="sup-l-street" type='text' name="sup-l-street" class='input' placeholder='Введите улицу')
  div.input-container
    label(for='sup-l-house-number' class='label-input') Номер дома
    input(id="sup-l-house-number" type='text' name="sup-l-house-number" class='input' placeholder='Введите номер дома')
  div.input-container
    label(for='sup-l-office' class='label-input') Квартира / Офис
    input(id="sup-l-office" type='text' name="sup-l-office" class='input' placeholder='Введите квартиру или офис')
  div.buttons.dFlex
    button(type='button' class='btn transparent prev-btn js-reg-legal-prev-step') Назад
    button(type='button' class='btn success js-reg-legal-next-step') Далее