div.form-content-step3.flexColumn.alignItemsCenter
  div.input-container
    label(for='sup-l-name' class='label-input') Название предприятия
    input(id="sup-l-name" type='text' name="sup-l-name" class='input' placeholder='Введите название')
  div.input-container
    label(for='sup-l-inn' class='label-input') ИНН
    input(id="sup-l-inn" type='text' name="sup-l-inn" class='input' placeholder='Введите ИНН')
  div.input-container
    label(for='sup-l-kpp' class='label-input') КПП
    input(id="sup-l-kpp" type='text' name="sup-l-kpp" class='input' placeholder='Введите КПП')
  div.input-container
    label(for='sup-l-bank' class='label-input') Банк
    input(id="sup-l-bank" type='text' name="sup-l-bank" class='input' placeholder='Введите банк')
  div.input-container
    label(for='sup-l-city-bank' class='label-input') Город банка
    input(id="sup-l-city-bank" type='text' name="sup-city-bank" class='input' placeholder='Введите город')
  div.input-container
    label(for='sup-l-bik' class='label-input') БИК
    input(id="sup-l-bik" type='text' name="sup-l-bik" class='input' placeholder='Введите БИК')
  div.input-container
    label(for='sup-l-score' class='label-input') Счет
    input(id="sup-l-score" type='text' name="sup-l-score" class='input' placeholder='Введите счет')
  div.input-container
    label(for='sup-l-corr-account' class='label-input') Корр. счет
    input(id="sup-l-corr-account" type='text' name="sup-l-corr-account" class='input' placeholder='Введите корр. счет')
  div.input-container
    label(for='sup-l-ogrn' class='label-input') ОГРН
    input(id="sup-l-ogrn" type='text' name="sup-l-ogrn" class='input' placeholder='Введите ОГРН')
  div.input-container
    label(for='sup-l-okpo' class='label-input') ОКПО
    input(id="sup-l-okpo" type='text' name="sup-l-okpo" class='input' placeholder='Введите ОКПО')
  div.buttons.dFlex
    button(type='button' class='btn transparent prev-btn js-reg-legal-prev-step') Назад
    button(type='button' class='btn success js-reg-legal-next-step') Далее