div.form-content-step5.flexColumn.alignItemsCenter
  div.input-container
    label(for='sup-l-address-index' class='label-input') Индекс
    input(id="sup-l-address-index" type='text' name="sup-l-address-index" class='input' placeholder='Введите индекс')
  div.input-container
    label(for='sup-l-address-country' class='label-input') Страна
    input(id="sup-l-address-country" type='text' name="sup-l-address-country" class='input' placeholder='Введите страну')
  div.input-container
    label(for='sup-l-address-region' class='label-input') Регион
    input(id="sup-l-address-region" type='text' name="sup-l-address-region" class='input' placeholder='Введите регион')
  div.input-container
    label(for='sup-l-address-city' class='label-input') Город
    input(id="sup-l-address-city" type='text' name="sup-l-address-city" class='input' placeholder='Введите город')
  div.input-container
    label(for='sup-l-address-street' class='label-input') Улица
    input(id="sup-l-address-street" type='text' name="sup-l-address-street" class='input' placeholder='Введите улицу')
  div.input-container
    label(for='sup-l-address-house-number' class='label-input') Номер дома
    input(id="sup-l-address-house-number" type='text' name="sup-l-address-house-number" class='input' placeholder='Введите номер дома')
  div.input-container
    label(for='sup-l-address-office' class='label-input') Квартира / Офис
    input(id="sup-l-address-office" type='text' name="sup-l-address-office" class='input' placeholder='Введите квартиру или офис')
  button(type='submit' class='btn success') Зарегистрироваться