@import "../../components/original-catalogs/styles/catalog_table";
@import "../../components/original-catalogs/styles/filters_by_issue";
@import "../../components/original-catalogs/styles/catalog_marks";
@import "../../components/original-catalogs/styles/catalog_cards_car";
@import "../../components/detail-page/styles/detail_page";

// table
@import "../../components/table/detail-page/styles/detail_page_table";
// popups
@import "../../components/popups/styles/graphic";
@import "../../components/popups/styles/quick_view";
@import "../../components/popups/styles/add_car_popup";

// step 2
.catalog_to_step_2 {
	display: flex;
	flex-direction: column;

	@include xs(margin, rem(20) 0 rem(40));
	@include md(margin, rem(20) 0 rem(60));
	@include lg(margin, rem(30) 0 rem(80));
}

// step 3
.catalog_to_step_3 {
	@include xs(margin, rem(20) 0);
	@include md(margin, rem(20) 0 rem(60));
	@include lg(margin, rem(45) 0 rem(160));

	@include md-block() {
		.catalog_table {
			flex-direction: column;
			justify-content: center;

			.ct_brand {
				margin-right: 0;
				margin-bottom: rem(10);
			}

			.ct_table {
				tr > th {
					text-align: left;
					padding-bottom: rem(13);
				}
			}
		}
	}

	@include lg-block() {
		.catalog_table {
			flex-direction: row;
			justify-content: center;

			.ct_brand {
				margin-right: rem(40);
				margin-bottom: 0;
			}
		}
	}
}

// step 4
.catalog_to_step_4 {
	@include xs(margin, rem(20) 0);
	@include md(margin, rem(20) 0 rem(60));
	@include lg(margin, rem(45) 0 rem(160));

	.ct_table_mobile {
		.btn {
			margin-left: auto;
		}

		a:hover {
			text-decoration: none;
		}
	}

	.cell_price {
		font: rem(18)/rem(18) Fregat-Bold, sans-serif;
		white-space: nowrap;
	}

	.find-btn,
	.basket-btn {
		width: rem(95);
		height: rem(34);
		font-size: rem(14);
		padding: 0 rem(15);
	}

	.catalog_table {
		.cell_center {
			text-align: center !important;
		}

		.cell_button {
			padding: rem(7) 0;
		}

		.cell_price {
			font: rem(18)/rem(18) Fregat-Bold, sans-serif;
			white-space: nowrap;
		}
	}

	@include md-block() {
		.catalog_table {
			flex-direction: column;
			justify-content: center;

			.ct_brand {
				margin-right: 0;
				margin-bottom: rem(10);
			}

			.ct_table {
				tr > th {
					text-align: left;
					padding-bottom: rem(13);
				}
			}
		}
	}

	@include lg-block() {
		.catalog_table {
			flex-direction: row;
			justify-content: center;

			.ct_brand {
				margin-right: rem(40);
				margin-bottom: 0;
			}
		}
	}
}

// step 5
.catalog_to_step_5 {
	display: flex;
	flex-direction: column;

	@include xs(margin, rem(20) 0);
	@include md(margin, rem(30) 0 rem(60));
	@include lg(margin, rem(40) 0 rem(80));

	.c_table {
		display: flex;

		@include xs-block() {
			flex-direction: column;
			margin: rem(30) 0 0;
		}
		@include md(margin, rem(40) 0 0);

		@include lg-block() {
			flex-direction: row;
			margin: rem(60) 0 0;
		}
	}
}