@import "../../components/original-catalogs/styles/catalog_marks";
@import "../../components/original-catalogs/styles/catalog_cards_car";

@import "../../components/cards/styles/cards";

.lamp_catalog_wrapper {
	position: relative;

	@include xs(margin, rem(20) 0 rem(40));
	@include md(margin, rem(30) 0 rem(60));
	@include lg-block() {
		padding-left: rem(330);
		margin: rem(30) 0 rem(80);
	}
}
