// history page
@import "../lc/pages/history/styles/filter_wrapper";
@import "../lc/pages/history/styles/download_actions";
@import "../../components/table/lc-history/table";
// basket page
@import "../../components/table/basket/bakset_table";
// my car page
@import "../../components/table/lc-my-car/table";
// invoices
@import "../lc/pages/invoices/styles/form_pay_confirmation";
@import "../../components/table/lc-invoices/table";
// invoice account
@import "../../components/table/lc-invoice-account/table";
// vin requests
@import "../../components/table/lc-vin-requests/table";
@import "../lc/pages/vin-requests/styles/vin_request_code";
// dispatches
@import "../../components/table/lc-dispatches/table";
// messages
@import "../../components/table/lc-messages/table";
// friends
@import "../../components/table/lc-friends/table";
// batch-percentage
@import "../../components/table/lc-batch-percentage/table";
@import "../lc/pages/batch-percentage/find_form";
// manager
@import "../lc/pages/manager/manager_card";
// return product
@import "../lc/pages/return/form";
// personal data
@import "../lc/pages/personal-data/form";
// status cell
@import "../../components/table/status";
// popups
@import "../../components/popups/styles/quick_view";
@import "../../components/popups/styles/add_car_popup";

.personal_account {
	// history
	&.__history {

		.label-input,
		.select-label {
			color: var(--color-black);
		}

		.pac_empty_wrapper {
			@include xs(margin, rem(120) 0);
			@include md(margin, rem(120) 0);
			@include lg(margin, rem(120) 0);
		}
	}

	// basket
	&.__basket {

		.pac_empty_wrapper {
			@include xs(margin, rem(120) 0);
			@include md(margin, rem(120) 0);
			@include lg(margin, rem(150) 0);
		}

		.pac_basket_table {
			@include lg(margin-top, rem(30));

			.pacb_actions {
				display: flex;
				justify-content: space-between;

				margin-top: rem(15);

				@include xs-block() {
					align-items: flex-start;
					flex-direction: column;

					.btn.link {
						width: auto;
						padding-left: 0;
						padding-right: 0;
					}
				}

				@include md-block() {
					flex-direction: row;
					align-items: center;
				}
			}

			.pacba_right {
				display: flex;
				font: rem(14)/rem(18) Fregat-Bold, sans-serif;
				color: var(--color-marine);

				@include xs-block() {
					flex-direction: column;
					align-items: flex-start;
					margin-top: rem(30);
					width: 100%;
				}

				@include md-block() {
					align-items: center;
					flex-direction: row;
					width: auto;
					margin-top: 0;
				}

				.text {
					@include xs(margin-bottom, rem(20));
					@include md-block() {
						margin-bottom: 0;
						margin-right: rem(30);
					}
				}
			}
		}
	}

	// my car
	&.__my_car {

		.pac_my_car_table {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.pac_empty_wrapper {
			@include xs(margin, rem(120) 0);
			@include md(margin, rem(120) 0);
			@include lg(margin, rem(130) 0);
		}
	}

	// pay confirmation
	&.__pay_confirmation {}

	// vin requests
	&.__vin_requests {

		.pac_vin_requests_table {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.pac_empty_wrapper {
			@include xs(margin, rem(100) 0);
			@include md(margin, rem(90) 0);
			@include lg(margin, rem(130) 0);
		}
	}

	// invoices
	&.__invoices {}

	// invoice account
	&.__invoice_account {}

	// dispatches
	&.__dispatches {}

	// messages
	&.__messages {}

	// friends
	&.__friends {}

	// batch-percentage
	&.__batch_percentage {
		.pac_empty_wrapper {
			@include xs(margin, rem(120) 0);
			@include md(margin, rem(100) 0);
			@include lg(margin, rem(80) 0);
		}
	}
}
