table.pabc_table
  thead
    tr
      th Обоснование
      th Дата
      th Расход
      th.alignRight Приход
  tr
    td Списание по заказу № 3
    td 26.06.2017 14:50
    td - 1 247 руб.
    td.alignRight 2 247 руб
  tr
    td Списание по заказу № 3
    td 26.06.2017 14:50
    td - 1 247 руб.
    td.alignRight 2 247 руб
  tr
    td Списание по заказу № 3
    td 26.06.2017 14:50
    td - 1 247 руб.
    td.alignRight 2 247 руб
div.pabc_table_mobile
  h1.title Обоснование
  div.table_item
    div.row
      h3.subtitle Списание по заказу № 3
    div.row
      h3.name Дата:
      p.value 26.06.2017 14:50
    div.row
      h3.name Расход:
      p.value - 1 247 руб.
    div.row
      h3.name Приход:
      p.value 2 247 руб.
  div.table_item
    div.row
      h3.subtitle Списание по заказу № 3
    div.row
      h3.name Дата:
      p.value 26.06.2017 14:50
    div.row
      h3.name Расход:
      p.value - 1 247 руб.
    div.row
      h3.name Приход:
      p.value 2 247 руб.