div.pac_statistic.bwc
  div.pacs_item
    h1.title Всего в работе:
    p.value 0 руб.
  div.pacs_item
    h1.title Не обработан:
    p.value 5 980 руб.
  div.pacs_item
    h1.title Товары на складе:
    p.value 0 руб.