div.cc_item
  div.cc_image
    img(src='./img/cards/passenger-tires.png' alt='image')
  div.cc_text_content
    h1.title SPORTS NAVIGATOR 265/65R17 112
    include ./card-info
    a(href='/' class='more_link') Подробнее
  div.cc_actions
    button(type='button' class='btn success find-btn') Найти
