div.container
  div.home_about_company
    div.hac_image
      img(class='image_three left' src='./img/home/about_company/big_three.png')
      img(class='image_car' src='./img/home/about_company/car.png')
      img(class='image_three_s' src='./img/home/about_company/three.png')
      img(class='image_three right' src='./img/home/about_company/big_three.png')
      div.buttons
        a(href='/' class='btn transparent') Подробнее о компании
        a(href='/' class='btn transparent') Контакты
    div.hac_text
      h1.title Оригинальные автозапчасти для Toyota, Lexus, Hyundai, Kia. Оптом и в розницу
      p.text Компания Амтор является представителем крупнейшего автомобильного холдинга, по продаже автомобилей в России.
      p.text Только официальные поставки оригинальных автозапчастей, напрямую с центральных складов большинства брендов производителей автозапчастей, весь товар сертифицирован. Особое место в пакете представленных брендов занимают такие производители, как:
      div.hac_brands
        a(href='/' class='image toyota')
        a(href='/' class='image hyundai')
        a(href='/' class='image nissan')
        a(href='/' class='image renault')
      p.text.last По данным брендам мы гарантируем наиболее низкие цены и выгодные условия. Так же рады сообщить, что благодаря прямым контрактам с генеральными дистрибьюторами на территории России, мы готовы предложить продукцию <u>SHELL</u>, <u>TOTAL</u>, <u>LUKOIL</u>, а также эксклюзивную цену на продукцию <u>MAHLE</u>. Все топовые позиции всегда на складах нашей компании в Москве и Омске.
