div.slide_main
  div.slide_content
    div.text
      h1 #{slide.title}
      p #{slide.description}
    button(type='button' class='btn danger') #{slide.text_button}
  img(class='slide_main__image' src=slide.image)