div.dcti_item.__warehouse
  p.title Склад
  p.value
    span.bold SOX
    span.icon.icon_revert
    span(data-src='#detail-graphic-popup' class='icon star_yellow fancybox')
    span(data-src='#detail-graphic-popup' class='icon count_4_4 fancybox')
div.dcti_item.__count
  p.title Количество
  p.value 819 шт.
div.dcti_item.__delivery
  p.title Доставка
  p.value 27 - 33 дн.
div.dcti_item.__bottom
  p.title_price 3 990 ₽
  button(data-src='#basket-popup' type='button' class='btn danger iconButton basket-btn fancybox')
    span.icon
      include ../../../../img/svg/header/basket-dark.svg