div.detail_catalog_table
  table.dct_table
    thead
      tr
        th(width='30%') Деталь
        th(width='13%') Склад
        th Количество
        th.cell_delivery Доставка
        th Цена
        th
    tr.row_full
      td Искомый номер
    tr.begin_item_row.without_full_border
      td
        div.detail_cell
          span(data-src='#quick-view-popup' class='link fancybox') BMW
          span(data-src='#quick-view-description-popup' class='sublink fancybox') FZ3127200A
          div.cell_text Колодки тормозные передние MAZDA Mazda6 седан III, универсал III, OEM GHY13328Z
      td.with_border SOX <span class='icon icon_revert revert'></span>
      td.with_border <span data-src='#detail-graphic-popup' class='icon icon_count count_4_4 fancybox'></span>819 шт.
      td.cell_delivery.with_border 27 - 33 дн.
      td.cell_price.with_border 2 990 ₽
      td.with_border
        include ../../../components/basket-btn/basket-btn
    tr.without_full_border
      td
      td.with_border CSS <span data-src='#detail-graphic-popup' class='icon icon_probability star_green fancybox'></span> <span class='icon icon_revert revert'></span>
      td.with_border <span data-src='#detail-graphic-popup' class='icon icon_count count_3_4 fancybox'></span>819 шт.
      td.cell_delivery.with_border 27 - 33 дн.
      td.cell_price.with_border 1 990 ₽
      td.with_border
        include ../../../components/basket-btn/basket-btn
    tr.without_full_border
      td
      td.with_border CSB <span data-src='#detail-graphic-popup' class='icon icon_probability star_yellow fancybox'></span> <span class='icon icon_revert revert'></span>
      td.with_border <span data-src='#detail-graphic-popup' class='icon icon_count count_2_4 fancybox'></span>819 шт.
      td.cell_delivery.with_border <span class='availability'>На складе</span>
      td.cell_price.with_border 990 ₽
      td.with_border
        include ../../../components/basket-btn/basket-btn
    tr.without_full_border
      td
      td.with_border TSC <span data-src='#detail-graphic-popup' class='icon icon_probability star_yellow fancybox'></span> <span class='icon icon_revert'></span>
      td.with_border <span data-src='#detail-graphic-popup' class='icon icon_count count_1_4 fancybox'></span>819 шт.
      td.cell_delivery.with_border 27 - 33 дн.
      td.cell_price.with_border 2 990 ₽
      td.with_border
        include ../../../components/basket-btn/basket-btn
    tr.row_full
      td Аналоги
    tr.begin_item_row.without_full_border
      td
        div.detail_cell
          span(data-src='#quick-view-popup' class='link fancybox') BMW
          span(data-src='#quick-view-description-popup' class='sublink fancybox') FZ3127200A
          div.cell_text Колодки тормозные передние MAZDA Mazda6 седан III, универсал III, OEM GHY13328Z
      td.with_border SOX <span class='icon icon_revert'></span>
      td.with_border <span data-src='#detail-graphic-popup' class='icon icon_count count_4_4 fancybox'></span>819 шт.
      td.cell_delivery.with_border 27 - 33 дн.
      td.cell_price.with_border 2 990 ₽
      td.with_border
        include ../../../components/basket-btn/basket-btn
    tr.without_full_border
      td
      td.with_border CSS <span data-src='#detail-graphic-popup' class='icon icon_probability star_green fancybox'></span> <span class='icon icon_revert'></span>
      td.with_border <span data-src='#detail-graphic-popup' class='icon icon_count count_3_4 fancybox'></span>819 шт.
      td.cell_delivery.with_border 27 - 33 дн.
      td.cell_price.with_border 1 990 ₽
      td.with_border
        include ../../../components/basket-btn/basket-btn
    tr.without_full_border
      td
      td.with_border CSB <span data-src='#detail-graphic-popup' class='icon icon_probability star_yellow fancybox'></span> <span class='icon icon_revert'></span>
      td.with_border <span data-src='#detail-graphic-popup' class='icon icon_count count_2_4 fancybox'></span>819 шт.
      td.cell_delivery.with_border <span class='availability'>На складе</span>
      td.cell_price.with_border 990 ₽
      td.with_border
        include ../../../components/basket-btn/basket-btn
    tr.without_full_border
      td
      td.with_border TSC <span data-src='#detail-graphic-popup' class='icon icon_probability star_yellow fancybox'></span> <span class='icon icon_revert'></span>
      td.with_border <span data-src='#detail-graphic-popup' class='icon icon_count count_1_4 fancybox'></span>819 шт.
      td.cell_delivery.with_border 27 - 33 дн.
      td.cell_price.with_border 2 990 ₽
      td.with_border
        include ../../../components/basket-btn/basket-btn
    tr(data-analogs class='without_full_border __hide')
      td
      td.with_border TSC <span data-src='#detail-graphic-popup' class='icon icon_probability star_yellow fancybox'></span> <span class='icon icon_revert'></span>
      td.with_border <span data-src='#detail-graphic-popup' class='icon icon_count count_1_4 fancybox'></span>819 шт.
      td.cell_delivery.with_border 27 - 33 дн.
      td.cell_price.with_border 2 990 ₽
      td.with_border
        include ../../../components/basket-btn/basket-btn
    tr(data-analogs class='without_full_border __hide')
      td
      td.with_border TSC <span data-src='#detail-graphic-popup' class='icon icon_probability star_yellow fancybox'></span> <span class='icon icon_revert'></span>
      td.with_border <span data-src='#detail-graphic-popup' class='icon icon_count count_1_4 fancybox'></span>819 шт.
      td.cell_delivery.with_border 27 - 33 дн.
      td.cell_price.with_border 2 990 ₽
      td.with_border
        include ../../../components/basket-btn/basket-btn
    tr.without_full_border.cell_link_more
      td(colspan='6')
        button(type='button' class='btn link js-show-more-cells-analogs')
          span.text Показать ещё
          span.icon
            include ../../../../img/svg/arrow-black.svg
  div.detail_catalog_table.mobile
    div.dct_m_item
      h1 Искомый номер
      div.dct_item_name
        div.top_name
          span(data-src='#quick-view-popup' class='link fancybox') BMW
          span(data-src='#quick-view-description-popup' class='sublink fancybox') FZ3127200A
        div.text Колодки тормозные передние MAZDA Mazda6 седан III, универсал III, OEM GHY13328Z
      div.dct_item_shop.first
        include ./mobile-table-cell
      div.dct_item_shop
        include ./mobile-table-cell
      div.dct_item_shop
        include ./mobile-table-cell
      div(data-desired-hidden class='dct_item_shop __hidden')
        include ./mobile-table-cell
      div.dct_show_more
        button(type='button' class='btn link js-mobile-show-more-dn')
          span.text Показать ещё
          span.icon
            include ../../../../img/svg/arrow-black.svg
    div.dct_m_item
      h1 Аналоги
      div.dct_item_name
        div.top_name
          span(data-src='#quick-view-popup' class='link fancybox') BMW
          span(data-src='#quick-view-description-popup' class='sublink fancybox') FZ3127200A
        div.text Колодки тормозные передние MAZDA Mazda6 седан III, универсал III, OEM GHY13328Z
      div.dct_item_shop.first
        include ./mobile-table-cell
      div.dct_item_shop
        include ./mobile-table-cell
      div.dct_item_shop
        include ./mobile-table-cell
      div(data-analogs-hidden class='dct_item_shop __hidden')
        include ./mobile-table-cell
      div.dct_show_more
        button(type='button' class='btn link js-mobile-show-more-a')
          span.text Показать ещё
          span.icon
            include ../../../../img/svg/arrow-black.svg
  include ../../popups/graphic
  include ../../popups/quick_view
  include ../../popups/quick_view_description
