div.dpi_gallery
  div.dpi_gallery_images.js-slider-card
    div(class='gallery-img active' data-img='./img/detail-page/test-image.webp')
      img(src='./img/detail-page/test-image.webp' alt='')
    div(class='gallery-img' data-img='./img/detail-page/test-image-2.webp')
      img(src='./img/detail-page/test-image-2.webp' alt='')
    div(class='gallery-img' data-img='./img/detail-page/no-image.jpg')
      img(src='./img/detail-page/no-image.jpg' alt='')
  div.dpi_gallery__main
    img(src='./img/detail-page/test-image.webp' alt='')