div.dpi_gallery
  div.dpi_gallery_images.js-slider-card
    div(class='gallery-img active' data-img='./img/detail-page/test-image.png')
      img(src='./img/detail-page/test-image.png' alt='')
    div(class='gallery-img' data-img='./img/detail-page/test-image-2.jpeg')
      img(src='./img/detail-page/test-image-2.jpeg' alt='')
    div(class='gallery-img' data-img='./img/detail-page/no-image.jpg')
      img(src='./img/detail-page/no-image.jpg' alt='')
  div.dpi_gallery__main
    img(src='./img/detail-page/test-image.png' alt='')