div.dpi_about_product
  h1.dp_h1 О товаре
  div.about_table_list
    div.atl_item
      div.name API
      div.value SN
    div.atl_item
      div.name Вязкость
      div.value OW-20
    div.atl_item
      div.name Объем
      div.value 1,1 литр.
    div.atl_item
      div.name Состав
      div.value Синтетическое
    div.atl_item
      div.name Тип контейнера
      div.value Канистра пластик
    div.atl_item
      div.name Длина упаковки, мм
      div.value 225
    div.atl_item
      div.name Толщина упаковки, мм
      div.value 65
    div.atl_item
      div.name Ширина упаковки, мм
      div.value 115
    div.atl_item
      div.name Вес, г
      div.value 920
    div.atl_item
      div.name Год коллекции
      div.value 2014 год