extends ../layouts/default

block variables
    - const title = "Каталог ламп";

block styles
  link(rel="stylesheet" href="./styles/lamp-catalog.css")

block content
  div#page
    include ../../blocks/components/header/mobile_menu
    div.page
      include ../../blocks/modules/header/header
      div.container
        div.bread-crumbs
          a(href='./home.html' class='text_bc bread-crumbs_item') Главная
          a(href='./' class='text_bc bread-crumbs_item') Электрика
          span.text_bc.bread-crumbs_item Каталог ламп
        h1.title_p Каталог ламп
      div.container
        div.lamp_catalog_wrapper
          include ../../blocks/components/cards/sub-filters/lamp-catalog
          include ../../blocks/components/cards/filters/lamp-catalog
          div.toggle_buttons_wrapper
            include ../../blocks/components/cards/toggle-buttons
          include ../../blocks/components/cards/lamp-catalog/cards
          include ../../blocks/components/cards/pagination
      include ../../blocks/modules/footer/footer

block scripts
  script(src="js/lamp_catalog.js")
  script(src="js/main.js")
  script(src="js/vendor.js")
