extends ../layouts/default

block variables
  - const title = "Пакетная проценка";

block styles
    link(rel="stylesheet" href="./styles/lc.css")

block content
  div#page
    include ../../blocks/components/header/mobile_menu
    div.page
      include ../../blocks/modules/header/header-auth
      div.container
        div.bread-crumbs
          a(href='./home.html' class='text_bc bread-crumbs_item') Главная
          a(href='./lc-main.html' class='text_bc bread-crumbs_item') Личный кабинет
          span.text_bc.bread-crumbs_item Пакетная проценка
        h1.title_p Пакетная проценка
      div.container
        div.personal_account.__batch_percentage
          include ../../blocks/modules/lc/lc-menu/lc-menu
          div.pa_content
            include ../../blocks/modules/lc/lc-author-card
            include ../../blocks/modules/lc/lc-menu/lc-menu-mobile
            include ../../blocks/modules/lc/pages/batch-percentage/find-form
            include ../../blocks/components/table/lc-batch-percentage/table

      include ../../blocks/modules/footer/footer

block scripts
  script(src="js/main.js")
  script(src="js/lc.js")
  script(src="js/vendor.js")
