extends ../layouts/default

block variables
  - const title = "Восстановление пароля";
  - var optionsPopup = {touch: false, enableEscapeButton: true};

block content
  div#page
    include ../../blocks/components/header/mobile_menu
    div.page
      include ../../blocks/modules/header/header
      div.container
        div.page_center_wrapper.recovery
          h1.title_page Восстановление пароля
          form(action='/recovery' class='common_form_wrapper')
            div.input-container
              label(for='pr-email' class='label-input') Email
              input(id="pr-email" type='email' name="pr-email" class='input' placeholder='Введите ваш Еmail' required)
            button(type='submit' class='btn success remind-me') Напомнить
            button(type='button' class='btn link' data-fancybox href='#sign-in-popup' data-options=optionsPopup) Ой, я вспомнил пароль
      include ../../blocks/modules/footer/footer

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
