extends ../layouts/default

block variables
    - const title = "Попапы";

block styles
  link(rel="stylesheet" href="./styles/catalog-to.css")

block content
  div#page
    include ../../blocks/components/header/mobile_menu
    div.page
      include ../../blocks/modules/header/header
      div.container
        div.bread-crumbs
          a(href='./home.html' class='text_bc bread-crumbs_item') Главная
          span.text_bc.bread-crumbs_item Попапы
        h1.title_p Попапы
      div.container
        div.index_links
          a(href='#sign-in-popup' class='dark_link fancybox') Логин
          a(href='#sign-up-popup' class='dark_link fancybox') Регистрация
          a(href='#basket-popup' class='dark_link fancybox') В корзину
          a(href='#change-region-popup' class='dark_link fancybox') Выбор региона
          a(href='#request-vin-code-popup' class='dark_link fancybox') Поиск по VIN
          a(href='#quick-view-popup' class='dark_link fancybox') Быстрый просмотр
          a(href='#quick-view-description-popup' class='dark_link fancybox') Быстрый просмотр с описанием
          a(href='#detail-graphic-popup' class='dark_link fancybox') График
          a(href='#p-no-information-popup' class='dark_link fancybox') Информация о товаре отсутствует
          a(href='#requisites-popup' class='dark_link fancybox') Реквизиты
        include ../../blocks/components/popups/graphic
        include ../../blocks/components/popups/quick_view
        include ../../blocks/components/popups/quick_view_description
        include ../../blocks/components/popups/requisites
        include ../../blocks/components/popups/p-no-information-popup
      include ../../blocks/modules/footer/footer
block scripts
  script(src="js/catalog_to.js")
  script(src="js/main.js")
  script(src="js/vendor.js")
