extends ../layouts/default

block variables
  - const title = "Заголовок страницы";

block styles

block content
  div#page
    include ../../blocks/components/header/mobile_menu
    div.page
      include ../../blocks/modules/header/header
      div.container
        div.bread-crumbs
          a(href='./home.html' class='text_bc bread-crumbs_item') Главная
          span.text_bc.bread-crumbs_item Заголовок страницы
        h1.title_p Заголовок страницы
      div.container
        div.page_container_wrapper
          div.page_container
            div.image_container
              img(src='./img/test-image.png' class='image')
              p.text_img_d Leah Millis / Reuters / Scanpix / LETA
            div.text_container
              p.text_m Самозанятый — это человек, который работает сам на себя без наемных работников. Когда говорят о самозанятых, то обычно подразумевают людей, которые применяют экспериментальный налоговый режим «Налог на профессиональный доход» — НПД.
            div.text_container
              p.text_m В соответствии с процедурой (<span class="textCursive textBold">обычно формальной</span>) представители штатов в алфавитном порядке зачитывали результаты голосования выборщиков. Но уже в самом начале заседания, когда очередь <span class="textThrough">дошла только</span> до Аризоны, <span class="textUnderline">заседание пришлось прервать</span> из-за возражений, с которыми <a href="#" class="textLink" target="_blank">выступили</a> представители Республиканской партии. Участники разошлись по своим палатам, чтобы обсудить эти возражения.
            h1.title_h1 Одновременно в Вашингтоне проходил многотысячный митинг сторонников Трампа.- H1
            div.text_container
              p.text_m Акция называлась «Марш за спасение Америки». Выступая на митинге, действующий президент США заявил: «Мы никогда не сдадимся, мы никогда не признаем поражение», а также призвал сторонников пойти к Конгрессу, чтобы «поприветствовать наших храбрых сенаторов, конгрессменов и конгрессвумен». В итоге к Капитолию пришли тысячи людей, которые вскоре ворвались в здание. Некоторые из них, по всей видимости, были вооружены. Членов Конгресса эвакуировали.
            div.image_slider_wrapper
              div.image_slider
                img(src='./img/test-image.png' class='image')
                img(src='./img/test-image.png' class='image')
                img(src='./img/test-image.png' class='image')
                img(src='./img/test-image.png' class='image')
              p.text_img_d Столкновения в Капитолии
            h2.title_h2 Трамп опубликовал в твиттере видео, в котором заявил, что «выборы были украдены», и назвал их результаты «мошенничеством». - H2
            div.text_container
              p.text_m Вместе с тем он призвал своих сторонников разойтись, не прибегать к насилию и соблюдать порядок. Twitter вскоре удалил эту запись за нарушение правил соцсети и объявил о блокировке аккаунта президента США сроком на 12 часов. Компания предупредила, что при новых нарушениях аккаунт может быть заблокирован на постоянной основе. В фейсбуке аккаунт Трампа заблокировали на 24 часа.
            div.quote_container
              div.qc_icon
                include ../../img/svg/extra/quote.svg
              div.qc_content
                div.qcc_text В 2019 году я месяц работала в американском Детройте и жила в хост-семье в благополучном районе. Спустя пару дней после приезда мы с другом Вадимом решили исследовать город. Проехать 15 км из офиса до дома на электросамокатах казалось прекрасной идеей. Я хотела пофотографировать заброшенные здания, которые до этого видела только из окна машины, и почувствовать дух старого Детройта.
                div.qcc_author
                  div.qa_avatar
                    img(src='./img/test-quote-avatar.png' class='image')
                  div.qa_info
                    h1.qa_username Дмитрий Сергеев
                    h1.qa_role Главный редактор
            div.text_container
              p.text_m Акция называлась «Марш за спасение Америки». Выступая на митинге, действующий президент США заявил: «Мы никогда не сдадимся, мы никогда не признаем поражение», а также призвал сторонников пойти к Конгрессу, чтобы «поприветствовать наших храбрых сенаторов, конгрессменов и конгрессвумен». В итоге к Капитолию пришли тысячи людей, которые вскоре ворвались в здание. Некоторые из них, по всей видимости, были вооружены. Членов Конгресса эвакуировали.
            h3.title_h3 Трамп опубликовал в твиттере видео, в котором заявил, что «выборы были украдены», и назвал их результаты - H3
            div.text_container
              p.text_m Вместе с тем он призвал своих сторонников разойтись, не прибегать к насилию и соблюдать порядок. Twitter вскоре удалил эту запись за нарушение правил соцсети и объявил о блокировке аккаунта президента США сроком на 12 часов. Компания предупредила, что при новых нарушениях аккаунт может быть заблокирован на постоянной основе. В фейсбуке аккаунт Трампа заблокировали на 24 часа.
            h4.title_h4 Главные научные итоги—2020. Не поверите, но ученые весь год занимались не только ковидом но и многим другим! - H4
            ul.ul_list_container
              li.lc_item.__level_one Рекордно быстрая разработка вакцин от COVID-19, или «инъекция надежды»
              li
                ul
                  li.lc_item.__level_two Лечение наследственных заболеваний крови с помощью отредактированных клеток
                  li.lc_item.__level_two Уточнение климатических моделей
                  li
                    ul
                      li.lc_item.__level_three Самое древнее наскальное изображение охоты
              li.lc_item.__level_one Искусственный интеллект предсказал форму белка
            div.text_container
              p.text_m Вместе с тем он призвал своих сторонников разойтись, не прибегать к насилию и соблюдать порядок. Twitter вскоре удалил эту запись за нарушение правил соцсети и объявил о блокировке аккаунта президента США сроком на 12 часов. Компания предупредила, что при новых нарушениях аккаунт может быть заблокирован на постоянной основе. В фейсбуке аккаунт Трампа заблокировали на 24 часа.
            ol.ol_list_container
              li.lc_item.__level_one Рекордно быстрая разработка вакцин от COVID-19, или «инъекция надежды»
                ol
                  li.lc_item.__level_two Лечение наследственных заболеваний крови с помощью отредактированных клеток
                  li.lc_item.__level_two Уточнение климатических моделей
                    ol
                      li.lc_item.__level_three Самое древнее наскальное изображение охоты
              li.lc_item.__level_one Искусственный интеллект предсказал форму белка
            div.custom_table_wrapper.js-custom-scroll-x
              table.ct_table
                thead
                  tr
                    th Столбец 1
                    th Столбец 2
                    th Столбец 3
                    th Столбец 4
                    th Столбец 5
                tr
                  td Ячейка 1
                  td Ячейка 2
                  td Ячейка 3
                  td Ячейка 4
                  td Ячейка 5
                tr
                  td Ячейка 1
                  td Ячейка 2
                  td Ячейка 3
                  td Ячейка 4
                  td Ячейка 5

        button(type="button" class="btn success scrollTop js-scroll-top")
      include ../../blocks/modules/footer/footer

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
