div.piw_content
  div.text_container
    p.text_m Оплачивайте банковской картой на сайте. Оплата происходит через зашифрованный протокол на сайтах Сбeра и Тинькофф банка. Эмекс не имеет доступа к вашим данным — безопасность данных гарантируют банки.
  div.payment_icons
    span.icon
      include ../../../../img/svg/payment-icons/maestro.svg
    span.icon
      include ../../../../img/svg/payment-icons/master_card.svg
    span.icon
      include ../../../../img/svg/payment-icons/mir.svg
    span.icon
      include ../../../../img/svg/payment-icons/sber.svg
    span.icon
      include ../../../../img/svg/payment-icons/visa.svg
  h2.title_h3.textUnderline При возврате
  div.text_container.last
    p.text_m После возврата товара деньги сразу вернутся на баланс. Затем их можно вывести на карту, с которой вы платили, или использовать для оплаты других заказов. Возврат на карту обычно проходит моментально, но иногда до 5 рабочих дней. Если деньги списались с баланса и не пришли на карту в течение 5 дней, обратитесь в поддержку своего банка.