div.lc-author-card
  div.ac_header
    div.ach_name
      h1.title Никита
      p.text (hi@mahaev.com)
    div.ach_actions
      button(type='button' class="btn transparent add-card") Дисконтная карта: <span class="under_text">добавить карту</span>
      button(type='button' class="btn success top-up-balance") Пополнить баланс
      button(type='button' class="btn-settings")
  div.ac_info
    div.achi_item
      h1.title Состояние счета:
      p.value 6 768 руб.
    div.achi_item
      h1.title Клиентский номер
      p.value 7405
    div.achi_item
      h1.title Уровень цен
      p.value Москва розница
    div.achi_item
      h1.title Ваш менеджер
      p.value Константин
  div.ac_mobile_actions
    button(type='button' class="btn transparent add-card") Дисконтная карта: <span class="under_text">добавить карту</span>
    button(type='button' class="btn success top-up-balance") Пополнить баланс
    button(type='button' class="btn-settings")
