div.lc-menu-cards
  a(href='./lc-balance.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/balance.svg
    div.mci_content
      h1.title Баланс
      p.text Информация о движении средств
  a(href='./lc-history.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/history.svg
    div.mci_content
      h1.title История заказов
      p.text Состояние и история Ваших заказов
  a(href='./lc-basket.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/basket.svg
    div.mci_content
      h1.title Корзина
      p.text Содержимое Вашей корзины
  a(href='./lc-basket.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/my-car.svg
    div.mci_content
      h1.title Мои автомобили
      p.text Здесь можно хранить информацию о&nbsp;автомобиле
  a(href='./lc-vin-requests.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/vin-request.svg
    div.mci_content
      h1.title VIN запросы
      p.text Запрос на подбор детали по данным Вашего автомобиля
  a(href='./lc-invoices.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/invoices.svg
    div.mci_content
      h1.title Счета
      p.text Счета выставленные вам для оплаты
  a(href='./lc-invoice-account.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/invoice-account.svg
    div.mci_content
      h1.title Накладные
      p.text Накладные оформляемые при выдаче товара
  a(href='./lc-dispatches.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/dispatches.svg
    div.mci_content
      h1.title Отправки
      p.text Учет отправок транспортными компаниями
  a(href='./lc-messages.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/messages.svg
    div.mci_content
      h1.title Сообщения
      p.text Ваши вопросы о состоянии заказа
  a(href='./lc-friends.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/friends.svg
    div.mci_content
      h1.title Друзья
      p.text Вы можете посмотреть ваших друзей, которые участвуют в партнерской программе
  a(href='./lc-batch-percentage.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/batch-percentage.svg
    div.mci_content
      h1.title Пакетная проценка
      p.text Здесь вы можете проценивать список товаров
  a(href='./lc-bonuses.html' class='mc_item')
    div.mci_icon
      include ../../../img/svg/lc/bonuses.svg
    div.mci_content
      h1.title Бонусы
      p.text Информация о заработанных бонусах
