- var menuMobile = [{text: 'Баланс', link: 'lc-balance'}, {text: 'История заказов', link: 'lc-history'}, {text: 'Корзина', link: 'lc-basket'}, {text: 'Мои автомобили', link: 'lc-my-car'}, {text: 'VIN запросы', link: 'lc-vin-requests'}, {text: 'Счета', link: 'lc-invoices'}, {text: 'Накладные', link: 'lc-invoice-account'}, {text: 'Отправки', link: 'lc-dispatches'}, {text: 'Сообщения', link: 'lc-messages'}, {text: 'Друзья', link: 'lc-friends'}, {text: 'Пакетная проценка', link: 'lc-batch-percentage'}, {text: 'Бонусы', link: 'lc-bonuses'}];

select(name='menu' class='lcm-mobile')
  each option in menuMobile
    option(value=option.link) #{option.text}