case icon
  when 'telegram'
    a(href='https://web.telegram.org/' target='_blank' class='icon_button')
      .icon
        include ../../../img/svg/social-icons/telegram.svg
  when 'vk'
    a(href='https://vk.com/' target='_blank' class='icon_button')
      .icon
        include ../../../img/svg/social-icons/vk.svg
  when 'facebook'
    a(href='https://www.facebook.com/' target='_blank' class='icon_button')
      .icon
        include ../../../img/svg/social-icons/facebook.svg
  when 'instagram'
    a(href='https://www.instagram.com/' target='_blank' class='icon_button')
      .icon.instagram
        include ../../../img/svg/social-icons/instagram.svg
