div.container.categories_wrapper.__collapsed
  div.home_product_categories.js-categories-btn
    div.hpc_header
      h1.title Автохимия
      button(type='button' class='btn small')
        span.icon
          include ../../../../img/svg/arrow-white.svg
        span.text См. все
    div.products.auto_chemicals.green
      div.card.antifreeze
        h2.card_name Антифризы
        div
          img(class='image' src='./img/home/products/auto_chemicals/antifreeze.png')
      div.card.trans_oil
        h2.card_name Масло трансмиссионное<br>и ГУР
        div.images
          img(class='image one' src='./img/home/products/auto_chemicals/trans_oil_1.png')
          img(class='image' src='./img/home/products/auto_chemicals/trans_oil_2.png')
      div.card.oil
        h2.card_name Масло моторное
        div
          img(class='image' src='./img/home/products/auto_chemicals/oil.png')
      div.card.lubricants
        h2.card_name Смазки
        img(class='image' src='./img/home/products/auto_chemicals/lubricants.png')
      div.card.sealants
        h2.card_name Герметики
        img(class='image' src='./img/home/products/auto_chemicals/sealants.png')
      div.card.brake_fluids
        h2.card_name Жидкости тормозные
        div
          img(class='image' src='./img/home/products/auto_chemicals/brake_fluids.png')
      div.card.additives
        h2.card_name Присадки
        img(class='image' src='./img/home/products/auto_chemicals/additives.png')
      div.card.adhesives
        h2.card_name Клеи
        img(class='image' src='./img/home/products/auto_chemicals/adhesives.png')