div.container.categories_wrapper.__collapsed
  div.home_product_categories.js-categories-btn
    div.hpc_header
      h1.title Детали двигателя
      button(type='button' class='btn small')
        span.icon
          include ../../../../img/svg/arrow-white.svg
        span.text См. все
    div.products.engine_parts.gray
      a(href='/' class='card timing_belt_kit')
        h2.card_name Комплект ремня ГРМ
        div
          img(class='image' src='./img/home/products/engine_parts/timing_belt_kit.png')
      a(href='/' class='card cooling_fan')
        h2.card_name Вентилятор <br>охлаждения
        div
          img(class='image' src='./img/home/products/engine_parts/cooling_fan.png')
      a(href='/' class='card cooling_radiator')
        h2.card_name Радиатор охлаждения
        div
          img(class='image' src='./img/home/products/engine_parts/cooling_radiator.png')
      a(href='/' class='card thermostat')
        h2.card_name Термостат
        div
          img(class='image' src='./img/home/products/engine_parts/thermostat.png')
      a(href='/' class='card water_pump')
        h2.card_name Насос водяной (помпа)
        div
          img(class='image' src='./img/home/products/engine_parts/water_pump.png')
      a(href='/' class='card generator')
        h2.card_name Генератор
        div
          img(class='image' src='./img/home/products/engine_parts/generator.png')
      a(href='/' class='card t_b_tensioner_roller')
        h2.card_name Ролик натяжителя ГРМ
        div
          img(class='image' src='./img/home/products/engine_parts/t_b_tensioner_roller.png')
      a(href='/' class='card workaround_roller')
        h2.card_name Ролик обходной
        div
          img(class='image' src='./img/home/products/engine_parts/workaround_roller.png')
      a(href='/' class='card timing_belt')
        h2.card_name Ремень ГРМ
        div
          img(class='image' src='./img/home/products/engine_parts/timing_belt.png')
      a(href='/' class='card timing_belt_tensioner')
        h2.card_name Натяжитель ГРМ
        div
          img(class='image' src='./img/home/products/engine_parts/timing_belt_tensioner.png')