div.container.categories_wrapper.__collapsed
  div.home_product_categories.js-categories-btn
    div.hpc_header
      h1.title Для гаража и автосервиса
      button(type='button' class='btn small')
        span.icon
          include ../../../../img/svg/arrow-white.svg
        span.text См. все
    div.products.for_garage_car_service.pink
      a(href='/' class='card universal_kits')
        h2.card_name Универсальные наборы
        div
          img(class='image' src='./img/home/products/for_garage_car_service/universal_kits.png')
      a(href='/' class='card screwdrivers')
        h2.card_name Отвёртки, биты, слесарный инструмент
        div
          img(class='image' src='./img/home/products/for_garage_car_service/screwdrivers.png')
      a(href='/' class='card keys')
        h2.card_name Ключи
        div
          img(class='image' src='./img/home/products/for_garage_car_service/keys.png')
      a(href='/' class='card pullers_general_tools')
        h2.card_name Съемники и общий инструмент
        div
          img(class='image' src='./img/home/products/for_garage_car_service/pullers_general_tools.png')
      a(href='/' class='card hydraulic_tools')
        h2.card_name Гидравлический инструмент
        div
          img(class='image' src='./img/home/products/for_garage_car_service/hydraulic_tools.png')
      a(href='/' class='card electrical_equipment')
        h2.card_name Электрооборудование
        div
          img(class='image' src='./img/home/products/for_garage_car_service/electrical_equipment.png')
      a(href='/' class='card vw_audi_special_tools')
        h2.card_name Специнструмент VW & Audi
        div
          img(class='image' src='./img/home/products/for_garage_car_service/vw_audi_special_tools.png')
      a(href='/' class='card bmw_mercedes_special_tools')
        h2.card_name Специнструмент BMW & Mercedes
        div
          img(class='image' src='./img/home/products/for_garage_car_service/bmw_mercedes_special_tools.png')
      a(href='/' class='card motor_group')
        h2.card_name Моторная группа
        div
          img(class='image' src='./img/home/products/for_garage_car_service/motor_group.png')
      a(href='/' class='card undercarriage')
        h2.card_name Ходовая часть
        div
          img(class='image' src='./img/home/products/for_garage_car_service/undercarriage.png')
      a(href='/' class='card end_heads')
        h2.card_name Головки торцевые
        div
          img(class='image' src='./img/home/products/for_garage_car_service/end_heads.png')
      a(href='/' class='card pneumatic_tools')
        h2.card_name Пневматический инструмент
        div
          img(class='image' src='./img/home/products/for_garage_car_service/pneumatic_tools.png')
      a(href='/' class='card trolleys_lodgements')
        h2.card_name Тележки и ложементы
        div
          img(class='image' src='./img/home/products/for_garage_car_service/trolleys_lodgements.png')
      a(href='/' class='card body_series')
        h2.card_name Кузовная серия
        div
          img(class='image' src='./img/home/products/for_garage_car_service/body_series.png')
      a(href='/' class='card consumables')
        h2.card_name Расходные материалы
        div
          img(class='image' src='./img/home/products/for_garage_car_service/consumables.png')
      a(href='/' class='card tool_for_cargo_trucks')
        h2.card_name Инструмент для грузовых
        div
          img(class='image' src='./img/home/products/for_garage_car_service/tool_for_cargo_trucks.png')