div.container.categories_wrapper.__collapsed
  div.home_product_categories.js-categories-btn
    div.hpc_header
      h1.title_p Интерьер и экстерьер
      button(type='button' class='btn small')
        span.icon
          include ../../../../img/svg/arrow-white.svg
        span.text См. все
    div.products.interior_exterior.purple
      a(href='/' class='card tires')
        h2.card_name Шины
        div
          img(class='image' src='./img/home/products/interior_exterior/tires.png')
      a(href='/' class='card disks')
        h2.card_name Диски
        div
          img(class='image' src='./img/home/products/interior_exterior/disks.png')
      a(href='/' class='card floor_mats')
        h2.card_name Коврики
        div
          img(class='image' src='./img/home/products/interior_exterior/floor_mats.png')
      a(href='/' class='card crankcase_protection')
        h2.card_name Защита картера
        div
          img(class='image' src='./img/home/products/interior_exterior/crankcase_protection.png')
      a(href='/' class='card tow_bars')
        h2.card_name Фаркопы
        div
          img(class='image' src='./img/home/products/interior_exterior/tow_bars.png')
      a(href='/' class='card mudguards')
        h2.card_name Брызговики
        div
          img(class='image' src='./img/home/products/interior_exterior/mudguards.png')
      a(href='/' class='card deflectors')
        h2.card_name Дефлекторы
        div
          img(class='image' src='./img/home/products/interior_exterior/deflectors.png')
      a(href='/' class='card underwing_pads')
        h2.card_name Подкрылки
        div
          img(class='image' src='./img/home/products/interior_exterior/underwing_pads.png')