div.container.categories_wrapper.__collapsed
  div.home_product_categories.js-categories-btn
    div.hpc_header
      h1.title Масла
      button(type='button' class='btn small')
        span.icon
          include ../../../../img/svg/arrow-white.svg
        span.text См. все
    div.products.oils.peach
      a(href='/' class='card toyota')
        h2.card_name TOYOTA
        div
          img(class='image' src='./img/home/products/oils/oil_toyota.png')
      a(href='/' class='card nissan')
        h2.card_name NISSAN
        img(class='image' src='./img/home/products/oils/oil_nissan.png')
      a(href='/' class='card shell')
        h2.card_name SHELL
        img(class='image' src='./img/home/products/oils/oil_shell.png')
      a(href='/' class='card mobil')
        h2.card_name MOBIL
        img(class='image' src='./img/home/products/oils/oil_mobil.png')
      a(href='/' class='card vag')
        h2.card_name VAG
        img(class='image' src='./img/home/products/oils/oil_vag.png')
      a(href='/' class='card costrol')
        h2.card_name COSTROL
        div
          img(class='image' src='./img/home/products/oils/oil_costrol.png')
      a(href='/' class='card hyndai')
        h2.card_name HYNDAI
        img(class='image' src='./img/home/products/oils/oil_hyndai.png')
      a(href='/' class='card total')
        h2.card_name TOTAL
        img(class='image' src='./img/home/products/oils/oil_total.png')
      a(href='/' class='card oil_viscosity')
        h2.card_name Вязкость масла
        img(class='image' src='./img/home/products/oils/oil_viscosity.png')
        div.buttons
          button(type='button' class='btn success') 0w20
          button(type='button' class='btn success') 0w30
          button(type='button' class='btn success') 5w30
          button(type='button' class='btn success') 5w40
          button(type='button' class='btn success') 10w40
  include ../feedback_form/pick-up_orange