div.container.categories_wrapper.__collapsed
  div.home_product_categories.js-categories-btn
    div.hpc_header
      h1.title_p Подвеска и рулевое управление
      button(type='button' class='btn small')
        span.icon
          include ../../../../img/svg/arrow-white.svg
        span.text См. все
    div.products.suspension.blue
      a(href='/' class='card shock_absorbers')
        h2.card_name Амортизаторы
        div
          img(class='image' src='./img/home/products/suspension/shock_absorbers.png')
      a(href='/' class='card stabilizer_bar')
        h2.card_name Стойка стабилизатора
        div
          img(class='image' src='./img/home/products/suspension/stabilizer_bar.png')
      a(href='/' class='card suspension_arms')
        h2.card_name Рычаги подвески
        div
          img(class='image' src='./img/home/products/suspension/suspension_arms.png')
      a(href='/' class='card silent_blocks')
        h2.card_name Сайлентблоки
        div
          img(class='image' src='./img/home/products/suspension/silent_blocks.png')
      a(href='/' class='card steering_rod')
        h2.card_name Тяга рулевая
        div
          img(class='image' src='./img/home/products/suspension/steering_rod.png')
      a(href='/' class='card hub_bearing')
        h2.card_name Подшипник ступицы
        div
          img(class='image' src='./img/home/products/suspension/hub_bearing.png')
      a(href='/' class='card ball_bearing')
        h2.card_name Опора шаровая
        div
          img(class='image' src='./img/home/products/suspension/ball_bearing.png')
      a(href='/' class='card steering_tip')
        h2.card_name Наконечник рулевой
        div
          img(class='image' src='./img/home/products/suspension/steering_tip.png')
      a(href='/' class='card hub')
        h2.card_name Ступица
        div
          img(class='image' src='./img/home/products/suspension/hub.png')
  include ../feedback_form/quality_orange
