div.home_feedback_form.base.__collapsed
  h1.hff_title Если у вас есть вопросы 🤔 ?
  p.hff_description Оставьте контакты, мы вам перезвоним
  form(action='/' class='hff_form')
    input(type='text' class='input' placeholder='Ваш номер телефона')
    button(type='button' class='btn danger') Отправить
