div.order_callback_popup(style='display: none;' id='order-callback-popup')
  h1.title_popup Закажите обратный звонок
  form(action='/' class='content')
    div.input-container
      label(for='ocp-phone-number' class='label-input') Номер телефона
      input(id="ocp-phone-number" type='text' class='input' placeholder='Введите номер телефона')
  button(type='submit' class='btn success fullWidth') Отправить
  p.text Согласен на обработку персональных данных<br> и принимаю условия <a href='/' target='_blank'>соглашения</a>