div.no_information_popup(style='display: none;' id='p-no-information-popup')
  div.title_popup Информация о товаре
  div.nip_content
    div.content_image
      include ../../../img/svg/catalogs/n-info.svg
    div.content_text Упс! К сожалению данной информации о товаре пока нет, но в скором времени мы обязательно ее добавим. )