div.quick_view_popup(style='display: none;' id='quick-view-popup')
  div.title_popup 830077226 MAZDA Масло моторное 1л
  div.qv_content
    div.qv_image
      img(src='./img/detail-page/test-image.webp' alt='')
    include ../../components/detail-page/info
