div.quick_view_description_popup(style='display: none;' id='quick-view-description-popup')
  div.title_popup Информация о товаре
  div.qvd_content
    include ../../components/detail-page/gallery
    div.qvd_mobile_slider
      img(src='./img/detail-page/test-image.png' alt='')
      img(src='./img/detail-page/test-image-2.jpeg' alt='')
      img(src='./img/detail-page/no-image.jpg' alt='')
    div.qvd_text
      h2.title Описание
      p.content В течение тридцати лет, ABS был известен как специалист тормозов в Нидерландах. Этот статус распространился далеко за пределами страны. Но не только его состояние продолжает расти. Кроме того, компания расширила ассортимент своей продукции! С 2004 года ABS успешно специализируется на рулевое управление и подвеска. ABS известен как специалист, потому что это может поставить все тормоза, рулевого управления и подвески для легковых автомобилей. Это еще не все, однако. ABS также ISO 9001:2008, обладает всеми техническими знаниями и является гибким.
    include ../../components/detail-page/info
