div.requisites_popup(style='display: none;' id='requisites-popup')
  div.title_popup Реквизиты
  div.rp_content
    div.dFlex.flexWrap
      h1.title Юридическое наименование:
      h1 ООО "Легион-Авто"
    div.dFlex.flexWrap
      h1.title Юр.адрес:
      h1 г. Омск, ул. Шукшина, 15
    div.dFlex.flexWrap
      h1.title ОГРН:
      h1 1122776479002
    div.dFlex.flexWrap
      h1.title ИНН:
      h1 7701804020
    div.dFlex.flexWrap
      h1.title Банк:
      h1 Сбербанк
    div.dFlex.flexWrap
      h1.title Бик:
      h1 77018 04020 00
    div.dFlex.flexWrap
      h1.title Корр. счет:
      h1 7701804020 0000
    div.dFlex.flexWrap
      h1.title Расчетный счет:
      h1 7701804020 7701804020
