div.accordion
  a(href='javascript:void(0)' class='accordion__link js-accordion-link active') Кузов
  div.accordion__content.open
    a(href='javascript:void(0)' class='accordion__link js-accordion-link active') Кузов
    div.accordion__content.open
      a(href='#' class='accordion__link selected') Кузов
      a(href='#' class='accordion__link') Кузов
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Двигатель
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Фильтр
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Ременный привод
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Система подачи топлива
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Подготовка топливной системы
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Система выпуска
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Система охлаждения
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Система сцепления / навесные части
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Кондиционер
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Детали для сервиса / проверки / ухода
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Система очистки фар
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Система очистки окон
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Дополнительные удобства
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Внутренняя отделка
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Замок
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link js-accordion-link') Комплектующие
  div.accordion__content
  a(href='javascript:void(0)' class='accordion__link last js-accordion-link') Колёса / шины
  div.accordion__content
