div.card_info_car
  div.cic_brand
    img(class='cic_image js-card-brand-image' src='./img/catalogs/bmw.png')
    p.text.js-catalog-brand-name BMW
  div.cic_content
    div.content_item
      div BMW A6 2,8 (V6)
      div Модель: <span class="js-model-car">Amanti</span>
      div VIN: <span class="js-vin-car">WAUBH54B11N111054</span>
    div.content_item
      div Сделано в: <span class="js-made-country-car">Германии</span>
      div Двигатель / КПП: <span class="js-engine-car">ATQ</span>
      div Для региона: <span class="js-country-for-car">Россия</span>
    div.content_change_car
      a(href='/') Выбрать другой автомобиль