div.catalog_table
  div.ct_brand
    img(class='ct_image js-catalog-brand-image' src='./img/catalogs/bmw.png')
    p.text.js-catalog-brand-name BMW
  table.ct_table
    thead
      tr
        th Марка
        th Название
        th family
        th vehicle Category
        th Модель выпускается с
        th Модель выпускается по
        th Модель
        th Опции
    tr
      td
        a(href='/') BMW
      td Amanti
      td Amanti
      td Passenger
      td.textCenter 2003
      td.textCenter 2006
      td EHFSW6D
      td Класс: (S) LOW GRADE;Рабочий объем двигателя: (W) 3500 CC;Трансмиссия: (D) 5 SPEED AT 2WD;Топливо: (6) MPI-DOHC;Кузов: (F) 4 DR SEDAN
    tr
      td
        a(href='/') BMW
      td Amanti
      td Amanti
      td Passenger
      td.textCenter 2003
      td.textCenter 2006
      td EHFSW6D
      td Класс: (S) LOW GRADE;Рабочий объем двигателя: (W) 3500 CC;Трансмиссия: (D) 5 SPEED AT 2WD;Топливо: (6) MPI-DOHC;Кузов: (F) 4 DR SEDAN
  // mobile table
  div.ct_table_mobile
    div.ctm_item
      div.row
        h3.name Марка
        p.value BMW
      div.row
        h3.name Название
        p.value Amanti
      div.row
        h3.name family
        p.value Amanti
      div.row
        h3.name vehicleCategory
        p.value Passenger
      div.row
        h3.name Модель выпускается с
        p.value 2003
      div.row
        h3.name Модель выпускается по
        p.value 2006
      div.row
        h3.name Модель
        p.value EHFSW6D
      div.row.last
        h3.name Опции
        p.value Класс: (S) LOW GRADE;Рабочий объем двигателя: (W) 3500 CC;Трансмиссия: (D) 5 SPEED AT 2WD;Топливо: (6) MPI-DOHC;Кузов: (F) 4 DR SEDAN
    div.ctm_item
      div.row
        h3.name Марка
        p.value BMW
      div.row
        h3.name Название
        p.value Amanti
      div.row
        h3.name family
        p.value Amanti
      div.row
        h3.name vehicleCategory
        p.value Passenger
      div.row
        h3.name Модель выпускается с
        p.value 2003
      div.row
        h3.name Модель выпускается по
        p.value 2006
      div.row
        h3.name Модель
        p.value EHFSW6D
      div.row.last
        h3.name Опции
        p.value Класс: (S) LOW GRADE;Рабочий объем двигателя: (W) 3500 CC;Трансмиссия: (D) 5 SPEED AT 2WD;Топливо: (6) MPI-DOHC;Кузов: (F) 4 DR SEDAN
