div.catalog_cards_car
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-1.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-2.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-3.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-4.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-5.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-6.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-1.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-2.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-3.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-4.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-5.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-6.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-1.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-2.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-3.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-4.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-5.png')
    h2 2 хэтчбек
  a(href='/' class='ccc_item')
    img(src='./img/catalog-to/car-6.png')
    h2 2 хэтчбек
