table.mc_classifier_table
  thead
    tr
      th(width="10%") №
      th(width="30%") Название
      th(width="35%") Примечание
      th(width="15%")
      th(width="10%")
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
  tr
    td 01
    td Бампер передний
    td на покраску; С3 Picasso
    td 01
    td
      a(href='/') Цена
