div.catalog_marks
  div.cm_item
    div.cm_main_symbol A
    div.cm_inner_marks
      a(href='/') ABARTH
      a(href='/') ALFA ROMEO
      a(href='/') AUDI
  div.cm_item
    div.cm_main_symbol B
    div.cm_inner_marks
      a(href='/' class='one') BMW
  div.cm_item
    div.cm_main_symbol C
    div.cm_inner_marks
      a(href='/') CHERY
      a(href='/') CHEVROLET
      a(href='/') CHRYSLER
      a(href='/') CITROEN
  div.cm_item
    div.cm_main_symbol D
    div.cm_inner_marks
      a(href='/') DAF
      a(href='/') DATSUN
      a(href='/') DODGE
  div.cm_item
    div.cm_main_symbol F
    div.cm_inner_marks
      a(href='/') FAW
      a(href='/') FIAT
      a(href='/') FORD
  div.cm_item
    div.cm_main_symbol G
    div.cm_inner_marks
      a(href='/') GEELY
      a(href='/') GREAT-WALL
  div.cm_item
    div.cm_main_symbol H
    div.cm_inner_marks
      a(href='/') HONDA
      a(href='/') HONDA-MOTO
      a(href='/') HYUNDAI
  div.cm_item
    div.cm_main_symbol J
    div.cm_inner_marks
      a(href='/') JAGUAR
      a(href='/') JEEP
  div.cm_item
    div.cm_main_symbol K
    div.cm_inner_marks
      a(href='/') KAWASAKI-M
      a(href='/') KIA
  div.cm_item
    div.cm_main_symbol L
    div.cm_inner_marks
      a(href='/') LEXUS
      a(href='/') LIFAN
  div.cm_item
    div.cm_main_symbol M
    div.cm_inner_marks
      a(href='/') MAZDA
      a(href='/') MERCEDES
      a(href='/') MINI
      a(href='/') MITSUBISHI
  div.cm_item
    div.cm_main_symbol K
    div.cm_inner_marks
      a(href='/') KAWASAKI-M
      a(href='/') KIA
  div.cm_item
    div.cm_main_symbol N
    div.cm_inner_marks
      a(href='/' class='one') NISSAN
  div.cm_item
    div.cm_main_symbol O
    div.cm_inner_marks
      a(href='/' class='one') OPEL
  div.cm_item
    div.cm_main_symbol P
    div.cm_inner_marks
      a(href='/') PEUGEOT
      a(href='/') PORSCHE
  div.cm_item
    div.cm_main_symbol R
    div.cm_inner_marks
      a(href='/' class='one') RENAULT
  div.cm_item
    div.cm_main_symbol S
    div.cm_inner_marks
      a(href='/') SAAB
      a(href='/') SEAT
      a(href='/') SKANIA
      a(href='/') SKODA
      a(href='/') SMART
      a(href='/') SSANGYONG
      a(href='/') SUBARU
      a(href='/') SUZUKI
  div.cm_item
    div.cm_main_symbol T
    div.cm_inner_marks
      a(href='/' class='one') TOYOTA
  div.cm_item
    div.cm_main_symbol V
    div.cm_inner_marks
      a(href='/' class='one') VW

