div.mbh_item.__me
  div.mhi_name
    h1 Махаев Никита Олегович
    span.js-message-author-id №7405
  div.mhi_date сегодня в 13:45
  div.mhi_text Возможность широчайшего выбора из более чем 35 миллионов наименований.