div.mbh_item
  div.mhi_name
    h1 Константин
    span.js-message-author-status (менеджер)
  div.mhi_date сегодня в 13:45
  div.mhi_text Возможность широчайшего выбора из более чем 35 миллионов наименований.