extends layouts/default
include helpers/mixins

block variables
	- const title = "Amtor - Links"

block content
	div.index_links
		a(href='./home.html' class='dark_link') Главная
		a(href='./password-recovery.html' class='dark_link') Восстановление пароля
		a(href='./sign-up-select.html' class='dark_link') Регистрация (Выбор)
		a(href='./sign-up-natural-person.html' class='dark_link') Регистрация (Физическое лицо)
		a(href='./sign-up-legal-entity.html' class='dark_link') Регистрация (Юридическое лицо)
		a(href='./original-catalogs.html' class='dark_link') Оригинальные каталоги (Шаг 1)
		a(href='./original-catalogs-step-2.html' class='dark_link') Оригинальные каталоги (Шаг 2)
		a(href='./original-catalogs-step-3.html' class='dark_link') Оригинальные каталоги (Шаг 3)
		a(href='./original-catalogs-step-4.html' class='dark_link') Оригинальные каталоги (Шаг 4)
		a(href='./original-catalogs-step-5.html' class='dark_link') Оригинальные каталоги (Шаг 5)
		a(href='./catalog-to.html' class='dark_link') Каталог для ТО (Шаг 1)
		a(href='./catalog-to-step-2.html' class='dark_link') Каталог для ТО (Шаг 2)
		a(href='./catalog-to-step-3.html' class='dark_link') Каталог для ТО (Шаг 3)
		a(href='./catalog-to-step-4.html' class='dark_link') Каталог для ТО (Шаг 4)
		a(href='./catalog-to-step-5.html' class='dark_link') Детальная страница
		a(href='./catalog-tecdoc-step-1.html' class='dark_link') Каталог TecDOC (Шаг 1)
		a(href='./catalog-tecdoc-step-2.html' class='dark_link') Каталог TecDOC (Шаг 2)
		a(href='./catalog-tecdoc-step-3.html' class='dark_link') Каталог TecDOC (Шаг 3)
		a(href='./catalog-tecdoc-step-4.html' class='dark_link') Каталог TecDOC (Шаг 4)
		a(href='./catalog-tecdoc-step-5.html' class='dark_link') Каталог TecDOC (Шаг 5)
		a(href='./popups.html' class='dark_link') Попапы
		a(href='./404.html' class='dark_link') 404

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
