div.vrt_row
  div.vrr_date 26.06.2020
  div.vrr_name AUDI
  div.vrr_model Q5
  div.vrr_actions
    a(href='#' class='vrr_link __create js-vr-create') Создать новый запрос на основе
    a(href='#' class='vrr_link js-vr-show') Просмотреть
