div.vin_requests_table
  div.vrt_header
    h1.vrth_item Дата
    h1.vrth_item Производитель
    h1.vrth_item Модель
    h1.vrth_item
  div.vrt_cells
    include cell
    include cell
    include cell
    include cell
    include cell
