div.mc_row
  div.mcr_name <span class="mc_brand_name">AUDI</span> Q5 2.0 TFSI quattro
  div.mcr_actions
    a(href='#' class='mcr_link js-mc-spare-parts') Подобрать запчасти
    a(href='#' class='mcr_link js-mc-notepad') Блокнот
    a(href='#' class='mcr_link js-mc-vin') VIN запрос
    a(href='#' class='mcr_link mcr_link_remove js-mc-remove') Удалить
    a(href='#' class='mcr_link mcr_link_remove mobile js-mc-remove')
      span.icon
        include ../../../../img/svg/close-base.svg
