a(href='./lc-batch-percentage.html' class=`lcm_item ${activeTab === 'batch-percentage' ? 'active' : ''}`)
  div.lcmi_icon
    include ../../../../img/svg/lc/batch-percentage.svg
  h1.title Пакетная проценка