a(href='./lc-balance.html' class='lcm_item' data-url-page="lc-balance.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/balance.svg
  h1.title Баланс
a(href='./lc-history.html' class='lcm_item' data-url-page="lc-history.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/history.svg
  h1.title История заказов
a(href='./lc-basket.html' class='lcm_item' data-url-page="lc-basket.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/basket.svg
  h1.title Корзина
a(href='./lc-my-car.html' class='lcm_item' data-url-page="lc-my-car.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/my-car.svg
  h1.title Мои автомобили
a(href='./lc-vin-requests.html' class='lcm_item' data-url-page="lc-vin-requests.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/vin-request.svg
  h1.title VIN запросы
a(href='./lc-invoices.html' class='lcm_item' data-url-page="lc-invoices.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/invoices.svg
  h1.title Счета
a(href='./lc-invoice-account.html' class='lcm_item' data-url-page="lc-invoice-account.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/invoice-account.svg
  h1.title Накладные
a(href='./lc-dispatches.html' class='lcm_item' data-url-page="lc-dispatches.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/dispatches.svg
  h1.title Отправки
a(href='./lc-messages.html' class='lcm_item' data-url-page="lc-messages.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/messages.svg
  h1.title Сообщения
a(href='./lc-friends.html' class='lcm_item' data-url-page="lc-friends.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/friends.svg
  h1.title Друзья
a(href='./lc-batch-percentage.html' class='lcm_item' data-url-page="lc-batch-percentage.html")
  div.lcmi_icon
    include ../../../../img/svg/lc/batch-percentage.svg
  h1.title Пакетная проценка