- var currentYear = 2021;

div.select-container
  p.select-label Год
  select(name='year')
    option(value='') Выберите год
    while currentYear > 1989
      option(value=currentYear) #{currentYear--}