.detail_page_info {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include lg(min-height, rem(405));

	.dpi_product_stock {
		position: absolute;
		right: 0;
		top: 0;
		background-color: #3BA336;
		border-radius: var(--border-radius-big);
		padding: rem(8) rem(15);
		font: rem(14)/rem(14) Fregat-Bold, sans-serif;
		color: var(--color-white);

		&:after {
			@include xs(content, 'На складе');
			@include md(content, 'Товар на складе');
		}

		@include md-block() {
			right: rem(20);
			top: rem(30);
		}
	}

	.dp_h1 {
		font: rem(18)/rem(18) Fregat-Bold, sans-serif;
		margin-bottom: rem(20);
	}

	.dpi_extra_info {
		box-shadow: var(--box-shadow-card);
		border-radius: var(--border-radius);

		@include xs-block() {
			padding: rem(20);
			order: 2;
			width: 100%;
		}

		@include md-block() {
			flex-basis: 50%;
		}

		@include lg-block() {
			padding: rem(30) rem(20);
			order: 3;
			flex-basis: 32%;
		}

		.extra_actions {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			@include xs-block() {

			}

			@include md-block() {

			}

			.price {
				width: 100%;

				@include xs-block() {
					margin-bottom: rem(20);
					text-align: center;
				}

				@include md-block() {
					margin-bottom: rem(25);
					text-align: left;
				}

				h1 {
					font: rem(40)/rem(40) Fregat-Bold, sans-serif;
					color: var(--color-black);

					@include xs-block() {
						font-size: rem(26);
						line-height: rem(26);
					}

					@include md-block() {
						font-size: rem(32);
						line-height: rem(32);
						margin-bottom: rem(10);
					}

					@include xl-block() {
						font-size: rem(40);
						line-height: rem(40);
						margin-bottom: rem(5);
					}
				}

				a {
					color: #838181;
					font: rem(14)/rem(14) Fregat, sans-serif;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}

			.delivery_count {
				display: flex;
				align-items: center;
				height: rem(46);

				@include xs-block() {
					width: 100%;
					justify-content: space-between;

					.dc_item {
						flex: 1;
					}
				}

				@include md-block() {
					width: auto;
					justify-content: inherit;

					.dc_item {
						flex: inherit;
					}
				}

				.dc_item {
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 0 rem(30);
					height: 100%;

					@include md(padding, 0 rem(15));
					@include xl(padding, 0 rem(30));

					&:first-child {
						padding-left: 0;
						border-right: 1px solid var(--color-cyan);
					}

					h3 {
						font: rem(14)/rem(14) Fregat, sans-serif;
						color: #a3a3a3;
						margin-bottom: rem(5);
					}

					p {
						font: rem(14)/rem(14) Fregat-Bold, sans-serif;
					}
				}
			}

			.basket-btn {
				@include xs-block() {
					width: 100%;
					margin-bottom: rem(23);

					.text {
						display: block;
						margin-left: rem(15);
					}
				}

				@include sm-block() {
					width: 100%;
					margin-bottom: rem(23);

					.text {
						display: block;
						margin-left: rem(15);
					}
				}

				@include md-block() {
					width: auto;
					margin-bottom: 0;
				}
			}
		}

		.extra_advantages {
			@include xs(margin-top, rem(20));
			@include md(margin-top, rem(30));
			@include xl(margin-top, rem(35));
		}

		.advantages_list {
			display: flex;
			justify-content: space-between;

			@include xs(flex-direction, column);
			@include md(flex-direction, row);

			.list_item {
				position: relative;
				font: rem(14)/rem(18) Fregat, sans-serif;
				color: #6A7A97;

				&:not(:last-child) {
					@include md(margin-right, rem(30));
					@include lg(margin-right, rem(10));
					@include xl(margin-right, rem(52));
				}

				@include xs-block() {
					display: flex;
					align-items: center;
					font-size: rem(12);

					&:not(:last-child) {
						margin-bottom: rem(10);
					}

					&:before {
						content: '';
						width: rem(8);
						height: rem(8);
						flex-shrink: 0;
						background-color: var(--color-base);
						border-radius: var(--border-radius-big);
						margin-right: rem(11);
					}

					.list-image {
						display: none;
					}
				}

				@include md-block() {
					display: block;
					font-size: rem(14);
					margin-bottom: 0;

					.list-image {
						display: block;

						&::before {
							display: none;
						}
					}
				}
			}

			.list-image {
				height: rem(50);
				margin-bottom: rem(15);
			}
		}
	}
}
