div.card_info_car
  div.brand_image
    img(class='image js-card-brand-image' src='./img/catalog-to/car-6.png')
  div.cic_content
    div.content_item
      div BMW A6 2,8 (V6)
      div Модель: <span class="js-model-car">Amanti</span>
      div VIN: <span class="js-vin-car">WAUBH54B11N111054</span>
    div.content_item.last
      div Сделано в: <span class="js-made-country-car">Германии</span>
      div Двигатель / КПП: <span class="js-engine-car">ATQ</span>
      div Для региона: <span class="js-country-for-car">Россия</span>
    div
