form(action='/search-name-car' class='search-input-wrapper')
  input(type='text' name="search-name-car" class='input search-input js-search-input' placeholder='Поиск по названию')
  button(type='submit' class='btn success search-btn') Найти