form(action='/search-contacts' class='search-input-wrapper')
  input(type='text' name="search-contacts" class='input search-input js-search-contacts' placeholder='Адрес')
  button(type='submit' class='btn success search-btn') Найти