div.pac_download_actions
  a(href='#' class='download_btn')
    span.icon
      include ../../../../../img/svg/lc/xls.svg
    span.text Скачать заказ в формате XLS
  a(href='#' class='btn success big js-pay-order') Оплатить заказ
