- var activeTab = 'history';

div.lc-menu
  div.lcm_wrapper_desktop
    include ../../lc-menu/balance
    include ../../lc-menu/history
    include ../../lc-menu/basket
    include ../../lc-menu/my-car
    include ../../lc-menu/vin-requests
    include ../../lc-menu/invoices
    include ../../lc-menu/invoice-account
    include ../../lc-menu/dispatches
    include ../../lc-menu/messages
    include ../../lc-menu/friends
    include ../../lc-menu/batch-percentage
    include ../../lc-menu/bonuses
  div.lcm_wrapper_mobile
    include ../../lc-menu-mobile
