div.mt_row_wrapper
  div.mt_row_full № 0447948023
  div.mt_row
    div.mt_date 26.06.20
    div.mt_description Сцепление комплект BMW 3/ 5 E36/ E34 518/ 318 BMW 3/ 5 E36/ E34 518/ 318
    div.mtr_item
      div.mobile_title Состояние
      div(class=`ht_status status ${message.status}`)
    div.mtr_item
      div.mobile_title Срок
      div.value На складе
    div.mtr_item.__count
      div.mobile_title Кол-во
      div.value 1
    div.mtr_item.__price
      div.mobile_title Цена
      div.value 2 247 руб
  div.mt_row_extra
    button(type="button" class='btn link cell_link js-toggle-dialog') Показать ленту сообщений
  include message-block
