div.catalog_table
  div.ct_brand
    img(class='ct_image js-catalog-brand-image' src='./img/catalogs/mazda.png')
    p.text.js-catalog-brand-name MAZDA
  div.ct_table_wrapper
    table.ct_table
      thead
        tr
          th Модификация
          th Год выпуска
          th Объем двигателя
          th Модель двигателя
          th Топливо
          th л.с.
          th Drive Type
      tr(data-href='/' class='clickable_row')
        td MAZDA 6 седан III 2.0 Sky GJ_26
        td 2012 - Выпускается
        td 2.0
        td PEY5
        td Бензиновый
        td 150
        td Передний
      tr(data-href='/' class='clickable_row')
        td MAZDA 6 седан III 2.5 Sky GJ_23
        td 2012 - Выпускается
        td 2.5
        td
        td Бензиновый
        td 192
        td Передний
      tr(data-href='/' class='clickable_row')
        td MAZDA 6 седан III 3 Sky GJ_23
        td 2012 - Выпускается
        td 3.0
        td
        td Бензиновый
        td 299
        td Передний
  // mobile table
  div.ct_table_mobile
    a(href='/' class='ctm_item')
      div.row
        h3.name Модификация
        p.value MAZDA 6 седан III 2.0 Sky GJ_26
      div.row
        h3.name Год выпуска
        p.value 2012 - Выпускается
      div.row
        h3.name Объем дв.
        p.value 2.0
      div.row
        h3.name Модель дв.
        p.value PEY5
      div.row
        h3.name Топливо
        p.value Бензиновый
      div.row
        h3.name л.с.
        p.value 150
      div.row
        h3.name Drive Type
        p.value Передний
    a(href='/' class='ctm_item')
      div.row
        h3.name Модификация
        p.value MAZDA 6 седан III 2.0 Sky GJ_26
      div.row
        h3.name Год выпуска
        p.value 2012 - Выпускается
      div.row
        h3.name Объем дв.
        p.value 2.0
      div.row
        h3.name Модель дв.
        p.value PEY5
      div.row
        h3.name Топливо
        p.value Бензиновый
      div.row
        h3.name л.с.
        p.value 150
      div.row
        h3.name Drive Type
        p.value Передний
