div.catalog_table
  div.ct_brand
    img(class='ct_image js-catalog-brand-image' src='./img/catalogs/mazda.png')
    p.text.js-catalog-brand-name MAZDA
  div.ct_table_wrapper
    table.ct_table
      thead
        tr
          th Модификация
          th Год выпуска
          th.noWrap Код двигателя
          th Двигатель
          th.textCenter квт
          th.textCenter л.с.
          th Цилиндры
          th Кузов
      tr(data-href='/' class='clickable_row')
        td MAZDA 6 седан III 2.0 Sky GJ_26
        td 2012 - Выпускается
        td MH01
        td Электродвигатель
        td.textCenter 105
        td.textCenter 150
        td 0
        td SUV
      tr(data-href='/' class='clickable_row')
        td MAZDA 6 седан III 2.5 Sky GJ_23
        td 2012 - Выпускается
        td MH01
        td
        td.textCenter 107
        td.textCenter 192
        td 0
        td SUV
      tr(data-href='/' class='clickable_row')
        td MAZDA 6 седан III 3 Sky GJ_23
        td 2012 - Выпускается
        td MH01
        td
        td.textCenter 100
        td.textCenter 299
        td 0
        td SUV
  // mobile table
  div.ct_table_mobile
    a(href='/' class='ctm_item')
      div.row
        h3.name Модификация
        p.value MAZDA 6 седан III 2.0 Sky GJ_26
      div.row
        h3.name Год выпуска
        p.value 2012 - Выпускается
      div.row
        h3.name Код двигателя
        p.value MH01
      div.row
        h3.name Двигатель
        p.value Электродвигатель
      div.row
        h3.name квт
        p.value 105
      div.row
        h3.name л.с.
        p.value 150
      div.row
        h3.name Цилиндры
        p.value 0
      div.row
        h3.name Кузов
        p.value SUV
    a(href='/' class='ctm_item')
      div.row
        h3.name Модификация
        p.value MAZDA 6 седан III 2.0 Sky GJ_26
      div.row
        h3.name Год выпуска
        p.value 2012 - Выпускается
      div.row
        h3.name Код двигателя
        p.value MH01
      div.row
        h3.name Двигатель
        p.value Электродвигатель
      div.row
        h3.name квт
        p.value 107
      div.row
        h3.name л.с.
        p.value 192
      div.row
        h3.name Цилиндры
        p.value 0
      div.row
        h3.name Кузов
        p.value SUV
