div.catalog_table
  div.ct_brand
    img(class='ct_image js-catalog-brand-image' src='./img/catalogs/mazda.png')
    p.text.js-catalog-brand-name MAZDA
  table.ct_table
    thead
      tr
        th Номер
        th Название
        th(width='10%' class='cell_center') Кол-во
        th Комментарий
        th Доставка
        th Цена
        th
    tr(data-href='/' class='clickable_row')
      td.bold PE07133A0A
      td MAZDA Резинка стеклоочистителя, передняя левая
      td.cell_center 1
      td Тип стояночного тормоза: Механический
      td 15-17 дн.
      td
      td.cell_button
        button(type='button' class='btn success find-btn js-catalog-to-find') Найти
    tr(data-href='/' class='clickable_row')
      td.bold PE07133A0A
      td MAZDA Резинка стеклоочистителя, передняя левая
      td.cell_center 1
      td
      td 15-17 дн.
      td
      td.cell_button
        button(type='button' class='btn success find-btn js-catalog-to-find') Найти
    tr(data-href='/' class='clickable_row')
      td.bold PE07133A0A
      td MAZDA Резинка стеклоочистителя, передняя левая
      td.cell_center 1
      td
      td 15-17 дн.
      td.cell_price 14 990 ₽
      td.cell_button
        button(type='button' class='btn danger basket-btn js-catalog-to-basket') В корзину
    tr(data-href='/' class='clickable_row')
      td.bold PE07133A0A
      td MAZDA Резинка стеклоочистителя, передняя левая
      td.cell_center 1
      td Тип стояночного тормоза: Механический
      td 15-17 дн.
      td.cell_price 8 990 ₽
      td.cell_button
        button(type='button' class='btn danger basket-btn js-catalog-to-basket') В корзину
    tr(data-href='/' class='clickable_row')
      td.bold PE07133A0A
      td MAZDA Резинка стеклоочистителя, передняя левая
      td.cell_center 1
      td
      td
      td.cell_price 14 990 ₽
      td
    tr(data-href='/' class='clickable_row')
      td.bold PE07133A0A
      td MAZDA Резинка стеклоочистителя, передняя левая
      td.cell_center 1
      td
      td 15-17 дн.
      td.cell_price 4 990 ₽
      td.cell_button
        button(type='button' class='btn danger basket-btn js-catalog-to-basket') В корзину
  // mobile table
  div.ct_table_mobile
    a(href='/' class='ctm_item')
      div.row
        h3.name Номер
        p.value PE07133A0A
      div.row.last
        h3.name Название
        p.value MAZDA Резинка стеклоочистителя, передняя левая
      div.row
        h3.name Кол-во
        p.value 1
      div.row.last
        h3.name Комментарий
        p.value Тип стояночного тормоза: Механический
      div.row
        h3.name Доставка
        p.value 15-17 дн.
      div.row
        button(type='button' class='btn success find-btn js-catalog-to-find') Найти
    a(href='/' class='ctm_item')
      div.row
        h3.name Номер
        p.value PE07133A0A
      div.row.last
        h3.name Название
        p.value MAZDA Резинка стеклоочистителя, передняя левая
      div.row
        h3.name Кол-во
        p.value 1
      div.row.last
        h3.name Комментарий
        p.value Тип стояночного тормоза: Механический
      div.row
        h3.name Доставка
        p.value 15-17 дн.
      div.row
        div.cell_price 4 990 ₽
        button(type='button' class='btn danger basket-btn js-catalog-to-basket') В корзину
    a(href='/' class='ctm_item')
      div.row
        h3.name Номер
        p.value PE07133A0A
      div.row.last
        h3.name Название
        p.value MAZDA Резинка стеклоочистителя, передняя левая
      div.row
        h3.name Кол-во
        p.value 1
      div.row.last
        h3.name Комментарий
        p.value Тип стояночного тормоза: Механический
      div.row
        h3.name Доставка
        p.value 15-17 дн.
      div.row
        div.cell_price 4 990 ₽
        button(type='button' class='btn danger basket-btn js-catalog-to-basket') В корзину
