div.catalog_table
  table.ct_table
    thead
      tr
        th Произв-ль
        th Артикул
        th(width="50%") Наименование
    tr(data-href='/' class='clickable_row')
      td.bold H.D.K.
      td IS06
      td Шрус IS TrooperBighorn 3.23.53.1D 94-, Opel FronteraMonterey
    tr(data-href='/' class='clickable_row')
      td.bold H.D.K.
      td IS06
      td Шрус IS TrooperBighorn 3.23.53.1D 94-, Opel FronteraMonterey
    tr(data-href='/' class='clickable_row')
      td.bold H.D.K.
      td IS06
      td Шрус IS TrooperBighorn 3.23.53.1D 94-, Opel FronteraMonterey
    tr(data-href='/' class='clickable_row')
      td.bold H.D.K.
      td IS06
      td Шрус IS TrooperBighorn 3.23.53.1D 94-, Opel FronteraMonterey
    tr(data-href='/' class='clickable_row')
      td.bold H.D.K.
      td IS06
      td Шрус IS TrooperBighorn 3.23.53.1D 94-, Opel FronteraMonterey
  // mobile table
  div.ct_table_mobile
    a(href='/' class='ctm_item smallPadding')
      div.row
        h3.name H.D.K.
        p.value IS06
      div.row.alignLeft
        p.value Шрус IS TrooperBighorn 3.23.53.1D 94-, Opel FronteraMonterey
    a(href='/' class='ctm_item smallPadding')
      div.row
        h3.name H.D.K.
        p.value IS06
      div.row.alignLeft
        p.value Шрус IS TrooperBighorn 3.23.53.1D 94-, Opel FronteraMonterey
    a(href='/' class='ctm_item smallPadding')
      div.row
        h3.name H.D.K.
        p.value IS06
      div.row.alignLeft
        p.value Шрус IS TrooperBighorn 3.23.53.1D 94-, Opel FronteraMonterey
