div.sbc_dropdown_mobile.hidden
  ul.sbc_list
    include category_dropdown_mobile/auto_parts_catalog
    include category_dropdown_mobile/oils_and_liquids
    include category_dropdown_mobile/tires_and_wheels
    include category_dropdown_mobile/autoelectrics
    include category_dropdown_mobile/auto_chemicals_cosmetics
    include category_dropdown_mobile/car_accessories
    include category_dropdown_mobile/tools
