div.sbc_dropdown.hidden
  ul.sbc_list
    include ./category_dropdown/auto_parts_catalog
    include ./category_dropdown/oils_and_liquids
    include ./category_dropdown/tires_and_wheels
    include ./category_dropdown/autoelectrics
    include ./category_dropdown/auto_chemicals_cosmetics
    include ./category_dropdown/car_accessories
    include ./category_dropdown/tools
