div.sb_dropdown.hidden
  a(href='/' class='sbd_item')
    div.dFlex.alignItemsCenter
      div.image
      div.content
        p.title Bodyparts TYCAE92840R CARINA E {CORONA} СТОЙКА СТАБИЛИЗАТОРА ПРАВ ПЕРЕД (Тайвань)
        p.text Автомобиль: Lexus ES300 97-99
    div.arrow-link
      include ../../../img/svg/half-arrow-right.svg
  a(href='/' class='sbd_item')
    div.dFlex.alignItemsCenter
      div.image
        img(src='./img/header/search-drp/image-1.png')
      div.content
        p.title Bodyparts TYCAE92840R CARINA E {CORONA} СТОЙКА СТАБИЛИЗАТОРА ПРАВ ПЕРЕД (Тайвань)
        p.text Автомобиль: Lexus ES300 97-99
    div.arrow-link
      include ../../../img/svg/half-arrow-right.svg
  a(href='/' class='sbd_item')
    div.dFlex.alignItemsCenter
      div.image
        img(src='./img/home/about_company/car.png')
      div.content
        p.title Bodyparts TYCAE92840R CARINA E {CORONA} СТОЙКА СТАБИЛИЗАТОРА ПРАВ ПЕРЕД (Тайвань)
        p.text Автомобиль: Lexus ES300 97-99
    div.arrow-link
      include ../../../img/svg/half-arrow-right.svg
  a(href='/' class='sbd_item')
    div.dFlex.alignItemsCenter
      div.image
      div.content
        p.title Bodyparts TYCAE92840R CARINA E {CORONA} СТОЙКА СТАБИЛИЗАТОРА ПРАВ ПЕРЕД (Тайвань)
        p.text Автомобиль: Lexus ES300 97-99
    div.arrow-link
      include ../../../img/svg/half-arrow-right.svg
  a(href='/' class='sbd_item')
    div.dFlex.alignItemsCenter
      div.image
        img(src='./img/header/search-drp/image-2.png')
      div.content
        p.title Bodyparts TYCAE92840R CARINA E {CORONA} СТОЙКА СТАБИЛИЗАТОРА ПРАВ ПЕРЕД (Тайвань)
        p.text Автомобиль: Lexus ES300 97-99
    div.arrow-link
      include ../../../img/svg/half-arrow-right.svg
  a(href='/' class='sbd_item')
    div.dFlex.alignItemsCenter
      div.image
      div.content
        p.title Bodyparts TYCAE92840R CARINA E {CORONA} СТОЙКА СТАБИЛИЗАТОРА ПРАВ ПЕРЕД (Тайвань)
        p.text Автомобиль: Lexus ES300 97-99
    div.arrow-link
      include ../../../img/svg/half-arrow-right.svg
