div.header__tags_wrapper.container.without-navigation
  div.header__tags_wp
    div.header__tags.dFlex.tags-carousel
      a(href='/' class='tag dark_link') Стойки
      a(href='/' class='tag dark_link') Шины
      a(href='/' class='tag dark_link') Автохимия
      a(href='/' class='tag dark_link') Моторные масла
      a(href='/' class='tag dark_link') Аккумуляторы
      a(href='/' class='tag dark_link') Трансмисионные масла
      a(href='/' class='tag dark_link') Инструменты
      a(href='/' class='tag dark_link') Лампочки
      a(href='/' class='tag dark_link') Присадки
      a(href='/' class='tag dark_link') Колодки
      a(href='/' class='tag dark_link') Стойки
      a(href='/' class='tag dark_link') Шины
      a(href='/' class='tag dark_link') Автохимия
    button(type='button' class='btn success load-more-btn') Ещё