- var oilsLinks = [{text: 'Масла моторные', href: '/'}, {text: 'Масла трансмиссионные', href: '/'}, {text: 'Масла гидравлические', href: '/'}, {text: 'Масла промывочные', href: '/'}, {text: 'Масла индустриальные редукторные', href: '/'}];
- var additivesLinks = [{text: 'Присадки в масла', href: '/'}, {text: 'Присадки топливные', href: '/'}, {text: 'Присадки в систему охлаждения', href: '/'}];
- var liquidsLinks = [{text: 'Жидкости охлаждающие', href: '/'}, {text: 'Жидкости тормозные', href: '/'}, {text: 'Жидкости стеклоомывателя', href: '/'}, {text: 'Жидкости AdBlue', href: '/'}];

div.menu_catalogs_wrapper
  div.menu_catalogs#menu-catalogs
    span.icon_close
      include ../../../img/svg/close-base.svg
    div.links_wrapper
      div.title_wrp
        h1.title.js-mc-links Масла
          span.icon_arrow
            include ../../../img/svg/arrow-dark.svg
        div.mc_list_wrapper
          h1.title_list Масла
          ul.mc_inner_content
            each link in oilsLinks
              include ../../components/footer/link
          h1.title_list Присадки
          ul.mc_inner_content
            each link in additivesLinks
              include ../../components/footer/link
          h1.title_list Жидкости
          ul.mc_inner_content
            each link in liquidsLinks
              include ../../components/footer/link
      div.title_wrp
        h1.title.js-mc-links Масла и жидкости
          span.icon_arrow
            include ../../../img/svg/arrow-dark.svg
        div.mc_list_wrapper
          h1.title_list Масла
          ul.mc_inner_content
            each link in oilsLinks
              include ../../components/footer/link
          h1.title_list Присадки
          ul.mc_inner_content
            each link in additivesLinks
              include ../../components/footer/link
          h1.title_list Жидкости
          ul.mc_inner_content
            each link in liquidsLinks
              include ../../components/footer/link
      div.title_wrp
        h1.title.js-mc-links Шины и диски
          span.icon_arrow
            include ../../../img/svg/arrow-dark.svg
        div.mc_list_wrapper
          h1.title_list Масла
          ul.mc_inner_content
            each link in oilsLinks
              include ../../components/footer/link
          h1.title_list Присадки
          ul.mc_inner_content
            each link in additivesLinks
              include ../../components/footer/link
          h1.title_list Жидкости
          ul.mc_inner_content
            each link in liquidsLinks
              include ../../components/footer/link
      div.title_wrp
        h1.title.js-mc-links Автоэлектрика
          span.icon_arrow
            include ../../../img/svg/arrow-dark.svg
        div.mc_list_wrapper
          h1.title_list Масла
          ul.mc_inner_content
            each link in oilsLinks
              include ../../components/footer/link
          h1.title_list Присадки
          ul.mc_inner_content
            each link in additivesLinks
              include ../../components/footer/link
          h1.title_list Жидкости
          ul.mc_inner_content
            each link in liquidsLinks
              include ../../components/footer/link
      div.title_wrp
        h1.title.js-mc-links Автохимия и косметика
          span.icon_arrow
            include ../../../img/svg/arrow-dark.svg
        div.mc_list_wrapper
          h1.title_list Масла
          ul.mc_inner_content
            each link in oilsLinks
              include ../../components/footer/link
          h1.title_list Присадки
          ul.mc_inner_content
            each link in additivesLinks
              include ../../components/footer/link
          h1.title_list Жидкости
          ul.mc_inner_content
            each link in liquidsLinks
              include ../../components/footer/link
      div.title_wrp
        h1.title.js-mc-links Автоаксесуары
          span.icon_arrow
            include ../../../img/svg/arrow-dark.svg
        div.mc_list_wrapper
          h1.title_list Масла
          ul.mc_inner_content
            each link in oilsLinks
              include ../../components/footer/link
          h1.title_list Присадки
          ul.mc_inner_content
            each link in additivesLinks
              include ../../components/footer/link
          h1.title_list Жидкости
          ul.mc_inner_content
            each link in liquidsLinks
              include ../../components/footer/link
      div.title_wrp
        h1.title.js-mc-links Инструменты
          span.icon_arrow
            include ../../../img/svg/arrow-dark.svg
        div.mc_list_wrapper
          h1.title_list Масла
          ul.mc_inner_content
            each link in oilsLinks
              include ../../components/footer/link
          h1.title_list Присадки
          ul.mc_inner_content
            each link in additivesLinks
              include ../../components/footer/link
          h1.title_list Жидкости
          ul.mc_inner_content
            each link in liquidsLinks
              include ../../components/footer/link
