div.footer_toolbar
  div.toolbar_button.js-open-catalog-mobile
    span.icon.catalog
      include ../../../img/svg/header/mobile-catalog.svg
    span.text Каталог
  a(href='/' class='toolbar_button')
    span.icon.profile
      include ../../../img/svg/header/user-login-dark.svg
    span.text Профиль
  a(href='/' class='toolbar_button')
    span.icon.history
      include ../../../img/svg/history.svg
    span.text История
