div.it_row
  div.itr_item
    div.it_number.fontWeightBold № 14673
    div.mobile_value 26.06.2017
  div.it_date 26.06.2017
  div.itr_item.it_status
    div.mobile_title Статус:
    div(class=`status ${product}`)
  div.itr_item.it_price
    div.mobile_title Сумма:
    div.value 2 247 руб.
  div.it_extra_links
    a(href='#' class='cell_link js-invoice-pay') Оплатить
    a(href='#' class='cell_link js-invoice-pay-confirm') Подтверждение оплаты
    a(href='#' class='cell_link js-invoice-print-receipt') Печать квитанции
    a(href='#' class='cell_link js-print-invoice') Печать счета
