div.card_info
  div.ci_item
    div.name Толщина
    div.value 29
  div.ci_item
    div.name Наружный диаметр (мм)
    div.value 24
  div.ci_item
    div.name Внутренняя резьба (мм)
    div.value M12
  div.ci_item
    div.name Качество / класс
    div.value 4
  div.ci_item
    div.name Ширина зева гаечного ключа
    div.value 21
