button(type='button' class='btn transparent iconButton withText basket-btn __not-empty')
  span.icon
    include ../../../../img/svg/header/basket-dark.svg
  span.text
    h1.basket_btn_title Сумма
    p.js-basket-btn-total 34 490 ₽
  span.counter 2