div.ht_row_wrapper
  div.ht_row
    div.ht_date 26.06.20
    div.ht_name_product
      div.htn_title
        span.htn_name TOTAL
        span(data-src='#quick-view-description-popup' class='htn_link fancybox') 148585
      div.htn_description Масло TOTAL  Rubia TIR 7400 15W-40 5л.
    div.htr_item.ht_availability
      div.mobile_title Срок
      div.value На складе
    div.htr_item.ht_warehouse
      div.mobile_title Склад
      div.value 128055
    div.htr_item.ht_cost
      div.mobile_title Цена
      div.value.textCenter 1 247р.
    div.htr_item.ht_count
      div.mobile_title Кол-во
      div.value.textCenter 1
    div.htr_item.ht_price
      div.mobile_title Стоимость
      div.value.textCenter 2 247 руб
  div.ht_row_extra
    div.htr_extra_status
      h2.text Состояние:
      span(class=`status ${product}`)
    div.htr_extra_links
      a(href='#' class='cell_link js-start-dialog') Начать диалог
      a(href='#' class='cell_link js-history-status') История статусов
      a(href='#' class='cell_link js-cancel-order') Снять заказ
