form(action='/car-type' class='tabs-wrapper')
  group.inline-radio
    div
      input(type='radio' name='classifier-type' checked)
      label Общий
    div
      input(type='radio' name='classifier-type')
      label От производителя
