form(action='/car-type' class='tabs-wrapper')
  group.inline-radio
    div
      input(type='radio' name='car-type' checked)
      label Легковые
    div
      input(type='radio' name='car-type')
      label Коммерческие
    div
      input(type='radio' name='car-type')
      label Мото