.years_filters {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(rem(50), 1fr));

	@include xs-block() {
		display: flex;
		overflow-x: scroll;
		padding: rem(18) 0;
		margin-top: rem(-18);
		margin-bottom: rem(12);

		.yf_item:not(:last-child) {
			margin-right: rem(10);
			margin-bottom: rem(10);
		}
	}

	@include md-block() {
		display: grid;
		margin-top: 0;
		padding: 0;
		margin-bottom: rem(40);
		overflow-x: inherit;
		grid-gap: rem(10);

		.yf_item:not(:last-child) {
			margin-right: initial;
			margin-bottom: initial;
		}
	}

	@include lg(margin-bottom, rem(30));

	.yf_item {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(10);
		height: rem(16);
		box-shadow: var(--box-shadow);
		font: rem(14)/rem(14) Fregat-Bold, sans-serif;
		color: var(--color-marine);
		border-radius: var(--border-radius);
		cursor: pointer;

		&.__selected {
			color: var(--color-white);
			background-color: var(--color-base);
		}
	}
}