/* footer style
  .__header    - header
  .__content   - content
  .__bottom    - bottom
 */

footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-white);
  background: var(--color-base);

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include xs(justify-content, center);
    @include sm(justify-content, space-between);
  }

  .footer__header {
    @include xs-block() {
      padding: rem(20) 0 0;
      border: none;
    }

    @include lg-block() {
      padding: rem(30) 0;
      border-bottom: 1px solid #4d27b9;
    }

    .title_p {
      display: block;
    }

    .header_info {
      flex: 1;
      justify-content: space-evenly;

      @include xs(display, none);
      @include lg(display, flex);
    }

    .mobile_info {
      width: 100%;
    }

    .header_mobile {
      background: var(--color-dark-blue);
      padding: rem(20) 0;
      margin-top: rem(20);

      @include xs(display, flex);
      @include lg(display, none);

      .header_phone {
        @include xs(text-align, center);
        @include sm(text-align, left);
      }

      .header_address {
        @include xs(display, none);
        @include sm(display, block);
      }
    }

    .header_buttons {
      .btn.primary {
        margin-right: rem(19);
      }

      @include xs(display, none);
      @include sm(display, block);
    }

    .title_p {
      margin-bottom: rem(4);
    }

    h2 {
      font: rem(14)/rem(14) Fregat, sans-serif;
    }

    .callback-popup {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .header_buttons {
      @include md(order, 2);
      @include lg(order, 3);
    }
  }

  .footer__content {
    @include xs(padding, (rem(30) 0));
    @include md(padding, (rem(30) 0 rem(30)));
    @include lg(padding, (rem(30) 0));

    .content__list {
      @include xs(flex-direction, column);
      @include sm(flex-direction, row);

      h1 {
        position: relative;

        @include xs-block() {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font: rem(20)/rem(24) Fregat-Bold, sans-serif;
          margin-bottom: 0;
        }

        @include sm-block(){
          font: rem(18)/rem(24) Fregat-Bold, sans-serif;
          margin-bottom: rem(10);

          .icon_arrow {display: none;}
        }

        @include lg(margin-bottom, rem(20));

        .icon_arrow {
          width: 20px;
          height: 20px;
          background: url('../img/svg/arrow-white.svg') center no-repeat;
          background-size: 100%;
          transition: transform .3s;

          &.rotate {
            transform: rotate(180deg);
          }
        }
      }

      .links_wrapper {
        position: relative;

        @include xs(margin-bottom, rem(20));
        @include lg(margin-bottom, 0);

        ul {
          @include xs-block() {
            display: none;
            margin-top: rem(10);
          }

          @include sm-block() {
            display: block;
          }
        }

        li {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .social_icons_desktop {
        position: absolute;
        bottom: 0;

        @include xs(display, none);
        @include lg(display, block);
      }

      .social_icons_tablet {
        @include xs-block() {
          display: flex;
          width: 100%;
          justify-content: space-between;
          order: 2;
          margin: rem(20) 0 rem(30);

          .icon_button {
            .icon {
              &.instagram {
                svg {
                  display: none;
                }

                background: url('../img/svg/social-icons/instagram.svg') center no-repeat;
              }
            }
          }
        }

        @include sm-block() {
          display: block;
          width: auto;
          margin: 0;
        }

        @include lg-block() {
          display: none;
        }
      }

      .social_icons {
        position: absolute;
        bottom: 0;
      }

      .icon_button {
        &:not(:last-child) {
          margin-right: rem(20);
        }


        &:hover {
          .icon {
            &:not(.instagram) {
              path {
                fill: var(--color-base);
              }
            }

            &.instagram {
              background: url('../img/svg/social-icons/instagram-h.svg') center no-repeat !important;

              svg {display: none !important;}
            }
          }
        }
      }

      .subscribe_wrapper {
        position: relative;

        @include xs(flex-basis, 100%);
        @include lg(flex-basis, 36%);
      }

      .subscribe_actions {
        position: relative;
        z-index: 1;

        @include xs-block() {
          padding: rem(20) 0;
          margin-bottom: rem(30);

          .mobile_header {
            display: block;
          }

          h1 {
            display: none;
          }

          &::before {
            content: '';
            position: absolute;
            left: -20px;
            top: 0;
            width: 100vw;
            height: 100%;
            background: var(--color-dark-blue);
            z-index: -1;
          }
        }

        @include sm-block() {
          width: 55%;
          margin-bottom: rem(40);
          padding: 0;

          &::before {display: none;}
        }

        @include md-block() {
          .mobile_header {
            display: none;
          }

          h1 {
            display: block;
          }
        }

        @include lg-block() {
          width: 100%;
          margin-bottom: 0;
        }

        h1 {
          width: 100%;

          @include xs(text-align, center);
          @include sm(text-align, left);
        }

        .input {
          margin-right: rem(20);
        }

        .subscribe_buttons {
          @include xs-block() {
            flex-direction: column;
            margin-top: rem(20);

            .input {
              margin-bottom: rem(10);
            }
          }

          @include sm-block() {
            flex-direction: row;
            margin-top: 0;

            .input {
              margin-bottom: 0;
            }
          }
        }
      }

      .text_f {
        font: rem(12)/rem(20) "Open Sans", sans-serif;
        opacity: .6;

        @include xs-block() {
          order: 1;
        }

        @include sm-block() {
          position: absolute;
          width: 40%;
          right: 0;
        }

        @include lg-block() {
          position: relative;
          width: auto;
          right: 0;
        }
      }

      .payment_icons {
        display: flex;
        align-items: center;

        @include xs-block() {
          order: 3;
        }

        @include sm-block() {
          position: absolute;
          width: 50%;
          right: 0;
          bottom: 0;
        }

        @include lg-block() {
          position: relative;
          width: auto;
          right: 0;
        }
      }
    }
  }

  .footer__bottom {
    padding: rem(20) 0;
    background: var(--color-dark-blue);
    font: rem(13)/rem(20) "Open Sans 600", sans-serif;

    @include xs-block() {
      padding-bottom: rem(80);

      ._bottom {
        flex-direction: column;
      }

      .text_fb {
        margin-bottom: rem(5);
      }
    }

    @include sm-block() {
      ._bottom {
        flex-direction: row;
      }

      .text_fb {
        margin-bottom: 0;
      }
    }

    @include md-block() {
      padding-bottom: rem(20);
    }

    .text_fb {
      font-family: "Open Sans 600", sans-serif;
    }

    .text_fba {
      margin-left: rem(3);
      font-family: "Open Sans", sans-serif;
      color: var(--color-white)
    }
  }

  // mobile menu catalogs
  .menu_catalogs_wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(39, 34, 98, 0.8);
    z-index: 3;
    visibility: collapse;
    transition: all .3s;

    &.__opened {
      visibility: visible;

      .menu_catalogs {
        transform: translate3d(0, 0, 0);
      }

      .icon_close {
        display: block;
        margin-left: auto;
        width: rem(14);
        height: rem(14);
        padding: 0 0 rem(10) rem(10);
        background: var(--color-white);
      }
    }

    .menu_catalogs {
      position: relative;
      width: 100%;
      height: 80vh;
      align-self: flex-end;
      color: var(--color-black);
      background: var(--color-white);
      padding: 0 rem(20) rem(80) rem(20);
      box-shadow: 0px -4px 24px 0px #00000033;
      border-top-left-radius: rem(30);
      border-top-right-radius: rem(30);
      border-top: 30px solid var(--color-white);
      transform: translate3d(0, 100%, 0);
      transition: all .3s;
      overflow: auto;

      @include xs(height, 60vh);
      @include sm(height, 80vh);
    }

    .icon_close {
      display: none;
      position: sticky;
      top: 0;
      justify-content: flex-end;
      z-index: 1;
      margin-bottom: rem(5);
    }

    .links_wrapper {
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font: rem(16)/rem(24) "Fregat-Bold", sans-serif;
        padding: rem(15) 0;
        border-bottom: 1px solid #d4ddec;

        .icon_arrow {
          transition: all .3s;

          svg path {
            stroke: var(--color-black);
          }

          &.rotate {
            transform: rotate(180deg);
          }
        }
      }

      .mc_list_wrapper {
        display: none;
        padding: rem(20) 0;
        -webkit-overflow-scrolling: touch;

        .title_list {
          font: rem(16)/rem(24) "Fregat-Bold", sans-serif;
          margin-bottom: rem(10);
        }

        .mc_inner_content {
          font: rem(14)/rem(28) "Open Sans", sans-serif;
          margin-bottom: rem(20);

          &:last-of-type {
            margin-bottom: 0;
          }

          a {
            color: var(--color-black);
          }
        }
      }

      //.list {
      //  display: none;
      //
      //  &.show {
      //    display: block;
      //  }
      //}
    }
  }

  // mobile toolbar
  .footer_toolbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: rem(60);
    background: var(--color-white);
    box-shadow: 0px -4px 24px 0px #00000033;
    border-top-left-radius: rem(24);
    border-top-right-radius: rem(24);
    z-index: 4;
    padding-bottom: rem(10);

    display: flex;
    align-items: baseline;
    justify-content: space-evenly;

    @include md('display', none);

    .toolbar_button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 33%;
      height: 100%;
      font: rem(11)/rem(12) "Fregat-Bold", sans-serif;
      color: var(--color-base);

      .icon {
        margin-bottom: rem(3);
        text-decoration: none;

        &.profile {
          svg {
            width: rem(20);
            height: rem(20);
          }
        }
      }

      .icon rect {
        stroke: var(--color-base);
      }
    }
  }
}