div.dt_row
  div.dtr_item
    div.mobile_title Город
    div.value Санкт-Петербург
  div.dtr_item
    div.mobile_title Перевозчик
    div.value.__bold DPD
  div.dtr_item
    div.mobile_title Номер
    div.value 67454
  div.dtr_item.textCenter
    div.mobile_title Кол. мест
    div.value 2
  div.dtr_item.textCenter
    div.mobile_title Стоимость
    div.value.price_value 3 468 руб.
  div.dtr_item.textCenter
    div.mobile_title Дата
    div.value 26.06.2020
