div.dispatches_table
  div.dt_row_header
    h1.dtr_title Город
    h1.dtr_title Перевозчик
    h1.dtr_title Номер
    h1.dtr_title.textCenter Кол. мест
    h1.dtr_title.textCenter Стоимость
    h1.dtr_title.textCenter Дата
  include cell
  include cell
  include cell
  include cell
  include cell
