div.card_info
  div.ci_item
    div.name Артикул
    div.value 0888080375GO
  div.ci_item
    div.name Производитель
    div.value TOYOTA-LEXUS
  div.ci_item
    div.name Состав
    div.value Синтетическое
