div.catalog_cards.medium
  include ./card-stock
  include ./card
  include ./card
  include ./card
  include ./card-stock
  include ./card
  include ./card-stock
  include ./card
  include ./card
  include ./card-stock
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
