$select-color: var(--color-marine);
$hover-background: var(--color-base);
$select-background: #f4f7fc;
$select-border-color: #ccd6e9;
$select-width: 100%;
$select-height: rem(54);

.simplebar-scrollbar::before {
  background-color: red;
}

.select-container {

  &.error {
    .select-label {
      color: #ef4136;
    }

    .select-styled {
      box-shadow: inset 0 0 0 1px #ef4136;

      &:after {
        background: url('../img/svg/arrow-error.svg') no-repeat center;
        background-size: 100%;
      }
    }
  }
}

.select-label {
  font: rem(14)/rem(14) "Fregat-Bold", sans-serif;
  color: var(--color-marine);
  margin-bottom: rem(5);
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font: rem(14)/rem(14) "Open Sans", sans-serif;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: rem(20);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 1px #ccd6e9;
  transition: all .2s ease-in;

  &:after {
    content:"";
    position: absolute;
    width: rem(12);
    height: rem(7);
    top: rem(25);
    right: rem(20);

    background: url('../img/svg/arrow-dark.svg') no-repeat center;
    background-size: 100%;
    transition: all .2s ease-in;
  }

  &:active, &.active {

    &:after {
      transform: rotate(180deg);
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-darker);
  border-radius: var(--border-radius);
  max-height: rem(270);
  z-index: 3;

  li {
    margin: 0;
    padding: rem(20);
    transition: all .15s ease-in;

    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    &:hover {
      color: var(--color-white);
      background: $hover-background;
    }

    &.active {
      background: #F4F7FC;

      &:hover {
        color: var(--color-white);
        background: $hover-background;
      }
    }

    &[rel="hide"] {
      display: none;
    }
  }

  .mCSB_container {
    margin-right: 0 !important;
  }

  .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }

  .mCSB_draggerRail {
    background: transparent !important;
  }
}