// desktop
.lcm_wrapper_desktop {
	display: none;
	flex-direction: column;
	margin-right: rem(25);

	@include lg-block() {
		display: flex;
	}

	.lcm_item {
		display: flex;
		align-items: center;
		transition: all .2s ease-in-out;

		&.active {
			pointer-events: none;

			.title {
				color: var(--color-base);
			}
		}

		&:hover {
			.title {
				color: var(--color-marine);
			}
		}

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	.lcmi_icon {
		width: rem(40);
		height: rem(40);
		margin-right: rem(15);

		svg {
			max-width: rem(40);
			max-height: rem(40);
		}
	}

	.title {
		color: var(--color-black);
		font: rem(14)/rem(22) "Open Sans 600", sans-serif;
	}
}

// mobile
.lcm_wrapper_mobile {
	position: relative;
	display: none;
	width: 100%;
	height: rem(36);

	@include xs-block() {
		display: block;
		width: 100%;
		margin: rem(20) 0;
	}

	@include lg(display, none);

	.select {
		height: rem(36);
	}

	.select-styled {
		padding: rem(10) rem(18);
		font-family: Fregat-Bold, sans-serif;
		color: var(--color-base);
		box-shadow: inset 0 0 0 2px var(--color-base);

		&:after {
			top: rem(14);
		}
	}
}