.lc-menu-cards {
	display: grid;
	margin-top: rem(20);

	@include xs-block() {
		grid-template-columns: 1fr;
		grid-gap: rem(10);
	}

	@include md-block() {
		grid-template-columns: repeat(auto-fill, minmax(rem(186), 1fr));
		grid-gap: rem(20);
	}

	@include lg-block() {
		grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
	}

	.mc_item {
		display: flex;
		flex-direction: column;
		padding: rem(20);
		border: 1px solid var(--color-cyan);
		border-radius: var(--border-radius);
		color: var(--color-black);
		transition: all .2s ease-in-out;

		svg {
			width: rem(60);
			max-height: rem(60);
		}

		@include xs-block() {
			flex-direction: row;

			.mci_icon {
				margin-right: rem(15);
			}
		}

		@include md-block() {
			flex-direction: column;
			height: auto;

			.mci_icon {
				margin-right: 0;
			}
		}

		&:hover {
			text-decoration: none;
			border-color: transparent;
			box-shadow: var(--box-shadow-card);
		}

		.mci_icon {
			display: flex;
			align-items: center;
			height: rem(60);
		}

		.mci_content {
			@include md(margin-top, rem(20));
		}

		.title {
			font: rem(16)/rem(22) "Open Sans 600", sans-serif;
			margin-bottom: rem(5);
		}

		.text {
			font: rem(13)/rem(20) "Open Sans", sans-serif;
			color: #414141;
		}
	}
}