@font-face {
  font-family: 'Fregat';
  src: url('../fonts/Fregat.woff') format('woff');
}

@font-face {
  font-family: 'Fregat-Bold';
  src: url('../fonts/Fregat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Fregat-Italic';
  src: url('../fonts/Fregat-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open-Sans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans 600';
  src: url('../fonts/Open-Sans-600.woff') format('woff');
}