div.bpt_row
  div.bpr_item
    div.mobile_title Дата:
    div.value 28.02.2018
  div.bpr_item
    div.mobile_title Результат:
    a(href='#' class='value bpr_batch_link js-batch-link') Запрос №78
  div.bpr_item.__center
    div.mobile_title Состояние:
    div.value Готово
  div.bpr_item.__center
    div.mobile_title Наименование:
    a(href='#' class='value js-batch-download') Скачать
