div.batch_percentage_table
  div.bpt_header
    h1.bpth_item Дата
    h1.bpth_item Результат
    h1.bpth_item.textCenter Состояние
    h1.bpth_item.textCenter Наименование
  div.bpt_cells
    include cell
    include cell
    include cell
