div.catalog_cards.medium
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
  include ./card
